[2019-12-31 21:35] weierophinney opened #1 "IMAP OAuth Authentication (XOAUTH2)"
Hi,

Is it possible to add XOAUTH2-authentication to the Zend Mail IMAP? See https://github.com/google/gmail-oauth2-tools/issues/18

The [solution](https://github.com/google/gmail-oauth2-tools/blob/master/php/oauth2.php) suggested by Google is not perfect, as it first tries to connect via regular authentication and only after that performs OAuth-authenticaiton.

Here is the implementation of the I

[2019-12-31 21:35] weierophinney opened #2 "Properly encode content-disposition header"
Provide a narrative description of what you are trying to accomplish:

- [x] Are you fixing a bug?
  - [x] Detail how the bug is invoked currently.
  - [x] Detail the original, incorrect behavior.
  - [x] Detail the new, expected behavior.
  - [x] Base your feature on the `master` branch, and submit against that branch.
  - [ ] Add a regression test that demonstrates the bug, and proves the fix.

[2019-12-31 21:35] weierophinney opened #3 "Zend\Mail\Message::addFrom expects a string, AddressInterface, array, AddressList, or Traversable as its first argument; received "NULL""
- [x] I was not able to find an [open](https://github.com/zendframework/zend-mail/issues?q=is%3Aopen) or [closed](https://github.com/zendframework/zend-mail/issues?q=is%3Aclosed) issue matching what I'm seeing.
 - [ ] This is not a question. (Questions should be asked on [chat](https://zendframework.slack.com/) ([Signup here](https://zendframework-slack.herokuapp.com/)) or our [forums](https://dis

[2019-12-31 21:35] weierophinney commented on #3
@gntlby
Thank you for opening this report. To reproduce the problem please add a detailed description or create a pull request with an unit test which illustrates the problem.

Thanks in advance!

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-mail/issues/250#issuecomment-559967195

[2019-12-31 21:35] weierophinney opened #4 "Throwing email invalid exception on the email from field of emails being read from an IMAP server"
- [X] I was not able to find an [open](https://github.com/zendframework/zend-mail/issues?q=is%3Aopen) or [closed](https://github.com/zendframework/zend-mail/issues?q=is%3Aclosed) issue matching what I'm seeing.
 - [X] This is not a question. (Questions should be asked on [chat](https://zendframework.slack.com/) ([Signup here](https://zendframework-slack.herokuapp.com/)) or our [forums](https://dis

[2019-12-31 21:35] weierophinney opened #5 "Add option novalidatecert to connect()"
See discussion on PR #246

---

Originally posted by @abulhol at https://github.com/zendframework/zend-mail/pull/247

[2019-12-31 21:35] weierophinney commented on #5
Any progress or feedback on this PR?

---

Originally posted by @abulhol at https://github.com/zendframework/zend-mail/pull/247#issuecomment-546322709

[2019-12-31 21:35] weierophinney commented on #5
@abulhol

As you can see there is no any new comments or approvals, so not yet :)

---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-mail/pull/247#issuecomment-546323216

[2019-12-31 21:36] weierophinney opened #6 "POP3 getMessage fails with 'Line "<==UUID==>" does not match header format'"
We are using zend-mail to fetch emails via POP3 and IMAP.
For integration tests, we run an instance of Flying Rat (https://pypi.org/project/flyingrat/) to mock a mail server with POP3. We build multipart emails in Python using MIMEMultipart and send them to the server via smtplib (all standard code used there, nothing fancy).

Now when I try to fetch the emails in zend-mail via `getMessage()`, it

[2019-12-31 21:36] weierophinney commented on #6
I have further delved into the source code.
The function `public static function fromString($string, $EOL = self::EOL)` in `Headers.php` which parses the full message in this case contains no condition for a break, so it is logical that the exception is thrown when the parser reaches the multipart message body.
I wonder how this bug could go unnoticed until now?

---

Originally posted by @abulhol

[2019-12-31 21:36] weierophinney opened #7 "fix read of 8192 bytes failed with errno=21 Is a directory"
With 7.4.0RC3

[code]

This is a trivial fix which "also" mute E_NOTICE raised by fgets

---

Originally posted by @remicollet at https://github.com/zendframework/zend-mail/pull/244

[2019-12-31 21:36] weierophinney opened #8 "ListParse not work with cyrillic"
[code]

---

Originally posted by @dimaxz at https://github.com/zendframework/zend-mail/issues/243

[2019-12-31 21:36] weierophinney commented on #8
may be

[code]

---

Originally posted by @dimaxz at https://github.com/zendframework/zend-mail/issues/243#issuecomment-537469153

[2019-12-31 21:36] weierophinney commented on #8
@dimaxz I've tested it on mine and also some server and it works fine in both cases. Looks like it is system dependant issue.

---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-mail/issues/243#issuecomment-538958275

[2019-12-31 21:36] weierophinney commented on #8
Can I send you an email with an attachment so you can read it?

---

Originally posted by @dimaxz at https://github.com/zendframework/zend-mail/issues/243#issuecomment-539427549

[2019-12-31 21:36] weierophinney commented on #8
@dimaxz ping me on [zf slack](https://zendframework-slack.herokuapp.com/), please

---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-mail/issues/243#issuecomment-539429326

[2019-12-31 21:36] weierophinney commented on #8
Failed! invite_limit_reached

---

Originally posted by @dimaxz at https://github.com/zendframework/zend-mail/issues/243#issuecomment-539441713

[2019-12-31 21:36] weierophinney opened #9 "Zend mail DKIM failes"
DKIM passed with zend previous versions (als on Magento), now dkim failes when using zend. When using Outlook with same SMTP settings, dkim passes.

### Code to reproduce the issue

    $message = new Message();
            $message->addTo($recipient)
                    ->addFrom(****)
                    ->setSubject('Maintenanceplus - contact')
                    ->setBody($body);

[2019-12-31 21:36] weierophinney commented on #9
Some further investigation says that only hotmail has the problem, gmail doesn't fail dkim.

---

Originally posted by @Jilco at https://github.com/zendframework/zend-mail/issues/242#issuecomment-531758137

[2019-12-31 21:36] weierophinney opened #10 "authentication rejected, but nothing shows in tcpdump"
I am having this issue... the most similar thing seems to be #170 (in that i can't xdebug and would like to see/debug the communication at protocol level to have a clearer idea) but in my case using tcpdump on port 25 does not show anything... yet there is a smtp protocol error and that baffles me...

I am using [espocrm](https://github.com/espocrm/espocrm/blob/fe635064d5df63b90853daf7337e5788e3a9

[2019-12-31 21:36] weierophinney opened #11 "Infinite imap decodeLine while loop"
I just got a case where a line as follows: `[LIST (\HasNoChildren) "/" {54}` caused the while loop to run indefinitely.

I suspect ist this space character appended, which will cause the `while (($pos = strpos($line, ' ')) !== false) {` to run indefinitely? Not a nice thing to happen ^^ .

https://github.com/zendframework/zend-mail/blob/ece418b37aaf8a98c991d7f0c198408043a2172d/src/Protocol/Imap.ph

[2019-12-31 21:36] weierophinney opened #12 "how to set message-id because zend-mail dont generate it automaticly"
i was sent test message to my email and when i see the headers, the message-id is generated from google because zendmail didn't generate by it self,

---

Originally posted by @megumikatoismywaifu at https://github.com/zendframework/zend-mail/issues/239

[2019-12-31 21:36] weierophinney opened #13 "Code style improvements"
See individual commit messages for details.

---

Originally posted by @glensc at https://github.com/zendframework/zend-mail/pull/231

[2019-12-31 21:36] weierophinney opened #14 "Fix AddressList toString method to quote semicolon"
Certain input of `AddressList` headers, cannot be converted to string and back to header object because of incorrect quoting:

[code]

gets incorrectly converted as
[code]

but `;` is address separator, so it needs to be quoted:

[code]

The problem I discovered internally when using `Storage\Message` with `Headers` input, therefore testing that method is included in the unit test:

[code]

---

O

[2019-12-31 21:36] weierophinney commented on #14
@weierophinney, @Xerkus can you take care of this?

---

Originally posted by @glensc at https://github.com/zendframework/zend-mail/pull/230#issuecomment-508890560

[2019-12-31 21:36] weierophinney commented on #14
this is a regression from #147 as it added `;` separator support that's why (i believe) this exception is caught.

however, there should not be an assumption that only zend-mail is used for reading writing mail messages.

---

Originally posted by @glensc at https://github.com/zendframework/zend-mail/pull/230#issuecomment-508890658

[2019-12-31 21:36] weierophinney opened #15 "Replace error handler with error_get_last() function"
Hi, guys.

I just found that `mail()` function does not generate the proper error that can be handled by `handleMailErrors()` method ("_Temporary error handler for PHP native mail()_" as pointed in the phpdoc). I have an [msmtp](https://marlam.de/msmtp/) as email agent with following settings in `php.ini`:
[code]
I have an error in `\Zend\Mail\Transport\Sendmail::mailHandler` if
[code]

in
[code]

[2019-12-31 21:36] weierophinney opened #16 "Docs Fix: Add in the required type for the content part"
The current documentation is missing this crucial requirement for the multipart/alternative + attachments section.

This had me stumped for a long time and I finally found the solution here:
https://akrabat.com/sending-attachments-in-multipart-emails-with-zendmail/

Note that the \n character is not necessary (and I think in some clients causes errors).

---

Originally posted by @internalsystemer

[2019-12-31 21:36] weierophinney opened #17 "When set -f option, no set -f option automatically"
`Zend\Mail\Transport\SendMail` always append envelope-from parameter.
But I want to set any envelope-from.
In this PR, only when not set option `-f`, set `-f` option automatically.
This means if I set `-ffoo@example.com` or `-bs -ffoo@example.com`, `Zend\Mail\Transport\Sendmail` doesn't set `-f` option.

---

Originally posted by @tzmfreedom at https://github.com/zendframework/zend-mail/pull/227

[2019-12-31 21:36] weierophinney commented on #17
without getting deeper to the actual changes, have some thoughts:

1. seems weird to have a negative parameter. how about set positive parameter which is b default true, and can be set as false.
2. maybe have a specific option (envelope related) rather generic "no override" as behavior could be different if want/want not to override some other parameter.

---

Originally posted by @glensc at https

[2019-12-31 21:36] weierophinney commented on #17
Thank you for you reply and advice !

I rethink, revise my code and changed this PR goal.

On this PR, only when not set option `-f`, set `-f` option automatically.
This means if I set `-ffoo@example.com` or `-bs -ffoo@example.com`, Transport\Sendmail doesn't set `-f` option.
So there is no negative parameter, no additional method.

---

Originally posted by @tzmfreedom at https://github.com/zendf

[2019-12-31 21:36] weierophinney commented on #17
you should update PR title as well. and the body is a bit hard to read as well.

---

Originally posted by @glensc at https://github.com/zendframework/zend-mail/pull/227#issuecomment-503611509

[2019-12-31 21:36] weierophinney opened #18 "Treat quote as value if already in quote using another delimiter"
Fixes the issue as described in #222.

---

Originally posted by @silvadiego at https://github.com/zendframework/zend-mail/pull/226

[2019-12-31 21:36] weierophinney commented on #18
@silvadiego is this same problem? can you cherry-pick testcase from there?

- https://github.com/zendframework/zend-mail/pull/224

---

Originally posted by @glensc at https://github.com/zendframework/zend-mail/pull/226#issuecomment-474120907

[2019-12-31 21:36] weierophinney commented on #18
not sure, should https://github.com/zendframework/zend-mail/pull/224 be added to changelog too? but at least include https://github.com/zendframework/zend-mail/pull/222 in changelog!

---

Originally posted by @glensc at https://github.com/zendframework/zend-mail/pull/226#issuecomment-475211421

[2019-12-31 21:36] weierophinney commented on #18
@weierophinney can we get this merged?

as noted in https://github.com/zendframework/zend-mail/pull/224, this is regression from changes from https://github.com/zendframework/zend-mail/pull/147 resolution i.e from your https://github.com/zendframework/zend-mail/commit/8aac5f7b4d354ea65128be6d2134d4648f47286d commit

---

Originally posted by @glensc at https://github.com/zendframework/zend-mail/pu

[2019-12-31 21:36] weierophinney commented on #18
@Xerkus ping?

---

Originally posted by @glensc at https://github.com/zendframework/zend-mail/pull/226#issuecomment-508891226

[2019-12-31 21:36] weierophinney commented on #18
@silvadiego I don't know what's this project merge policy (hardly anybody accepts changes here), but good practice is to squash useless commits to one commit and `git push -f` (three commits altering changelogs could be squashed)

---

Originally posted by @glensc at https://github.com/zendframework/zend-mail/pull/226#issuecomment-509268974

[2019-12-31 21:36] weierophinney opened #19 "Bugfix/duplicat subject header"
This fixes the issue described in https://github.com/zendframework/zend-mail/issues/22

---

Originally posted by @arueckauer at https://github.com/zendframework/zend-mail/pull/225

[2019-12-31 21:36] weierophinney opened #20 "Added PHP 7.3 support - updated Travis CI configuration"
---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-mail/pull/223

[2019-12-31 21:36] weierophinney opened #21 "ListParser::parse parses string incorrectly"
### Code to reproduce the issue
[code]

### Expected results

### Actual results

### Solution
Add the following else-if branch under the current one.
Rationale: if you're in a quoted-string, don't look for more quotes as they're part of the comment.
[code]

---

Originally posted by @svaningelgem at https://github.com/zendframework/zend-mail/issues/222

[2019-12-31 21:36] weierophinney opened #22 "Email with special character"
zend-mail:2.5.2
vendor/zendframework/zend-mail/src/Header/HeaderValue.php:112
method `Zend\Mail\Header\HeaderValue::assertValid($value)` throws RuntimeException - Invalid header value detected validation e-mail:   ً zel10@yandex.by. Please pay attention that email contains symbol https://en.wiktionary.org/wiki/%D9%8B. But zend-validator EmailAddress considered this email valid. I can not understan

[2019-12-31 21:36] weierophinney opened #23 "Content-Type paramater does not trim paramater name"
Hello,

I am getting filenames for attachments using the getParameter() on the content-type header.  I noticed some email parts that were supposed to be attachments did not have a filename.  Inspecting the source header, I could see that there was in fact a filename set.  Further inspection showed that the parameter name was being added with a leading space.  I would expect that leading spaces wou

[2019-12-31 21:36] weierophinney opened #24 "Update documentation about dependency ServiceManager"
- [X] I was not able to find an [open](https://github.com/zendframework/zend-mail/issues?q=is%3Aopen) or [closed](https://github.com/zendframework/zend-mail/issues?q=is%3Aclosed) issue matching what I'm seeing.
 - [X] This is not a question. (Questions should be asked on [chat](https://zendframework.slack.com/) ([Signup here](https://zendframework-slack.herokuapp.com/)) or our [forums](https://dis

[2019-12-31 21:37] weierophinney opened #25 "Zend Mail does not conform with RFC2822 by not accepting content which contains additional extra lines."
- [✅] I was not able to find an [open](https://github.com/zendframework/zend-mail/issues?q=is%3Aopen) or [closed](https://github.com/zendframework/zend-mail/issues?q=is%3Aclosed) issue matching what I'm seeing.
 - [✅] This is not a question. (Questions should be asked on [chat](https://zendframework.slack.com/) ([Signup here](https://zendframework-slack.herokuapp.com/)) or our [forums](https://dis

[2019-12-31 21:37] weierophinney commented on #25
Note the above was tested with Zend Mail 2.4.x.

However with Zend Mail 2.10.0 the issue still exists:

[code]
The changes in https://github.com/zendframework/zend-mail/issues/92 aren't enough to fix the issue.

---

Originally posted by @chrisdeeming at https://github.com/zendframework/zend-mail/issues/218#issuecomment-415794249

[2019-12-31 21:37] weierophinney commented on #25
Could you provide test scenarios please?

On Fri, 24 Aug 2018, 17:28 Chris Deeming, <notifications@github.com> wrote:

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-mail/issues/218#issuecomment-415807230

[2019-12-31 21:37] weierophinney commented on #25
There's example code in the first comment @Ocramius.

---

Originally posted by @chrisdeeming at https://github.com/zendframework/zend-mail/issues/218#issuecomment-415813989

[2019-12-31 21:37] weierophinney opened #26 "Settings Return-Path Email is not used"
- [x] I was not able to find an [open](https://github.com/zendframework/zend-mail/issues?q=is%3Aopen) or [closed](https://github.com/zendframework/zend-mail/issues?q=is%3Aclosed) issue matching what I'm seeing.
 - [x] This is not a question. (Questions should be asked on [chat](https://zendframework.slack.com/) ([Signup here](https://zendframework-slack.herokuapp.com/)) or our [forums](https://dis

[2019-12-31 21:37] weierophinney opened #27 "Return-Path Email is not used"
## Description

E-mail Return-Path is not set correctly because it only uses the last forced e-mail address, so as workaround I implemented this code change to give priority to the e-mail address that is already stored in the parameters and therefore the return path mail will be set correctly.

E.g. $parameters = " '-f test1@mail.com' '-f test2@mail.com'";
It will use 'test2@mail.com' as return pa

[2019-12-31 21:37] weierophinney opened #28 "message cloning and headers"
- [x] I was not able to find an [open](https://github.com/zendframework/zend-mail/issues?q=is%3Aopen) or [closed](https://github.com/zendframework/zend-mail/issues?q=is%3Aclosed) issue matching what I'm seeing.
 - [x] This is not a question. (Questions should be asked on [chat](https://zendframework.slack.com/) ([Signup here](https://zendframework-slack.herokuapp.com/)) or our [forums](https://dis

[2019-12-31 21:37] weierophinney commented on #28
ps. I'm on php72 and am using 2.10.0 of zend-mail (2.9 also had this)

---

Originally posted by @basz at https://github.com/zendframework/zend-mail/issues/214#issuecomment-397224117

[2019-12-31 21:37] weierophinney commented on #28
i've added in my project wrapper which implements [__clone](http://php.net/manual/en/language.oop5.cloning.php):

https://github.com/eventum/eventum/blob/v3.5.1/src/Mail/MailMessage.php#L651-L659

however it still doesn't work, so more deeper `__clone()` methods needed: https://github.com/eventum/eventum/pull/364

probably need deeper clone in `AddressList` type headers, which have the address val

[2019-12-31 21:37] weierophinney commented on #28
I am under the impression that if you do not specify a __clone method a deep clone was performed by default?

---

Originally posted by @basz at https://github.com/zendframework/zend-mail/issues/214#issuecomment-397240669

[2019-12-31 21:37] weierophinney commented on #28
rather opposite:

http://php.net/manual/en/language.oop5.cloning.php

and as objects are always references in php5+, the result is that cloned subobjects remain shared.

---

Originally posted by @glensc at https://github.com/zendframework/zend-mail/issues/214#issuecomment-397312781

[2019-12-31 21:37] weierophinney opened #29 "getFolders() gives Maximum execution time exceeded"
I am getting "Maximum execution time exceeded" when i try to do $mail->getFolders().

---

Originally posted by @canaan5 at https://github.com/zendframework/zend-mail/issues/210

[2019-12-31 21:37] weierophinney commented on #29
Could be related to #191 and #240

---

Originally posted by @jensstalder at https://github.com/zendframework/zend-mail/issues/210#issuecomment-525327167

[2019-12-31 21:37] weierophinney opened #30 "Unable to connect via TLS"
I have a problem when I send mail to client to Reset Password. I using Gmail

**`Warning: stream_socket_enable_crypto(): SSL operation failed with code 1. OpenSSL Error messages: error:14090086:SSL routines:ssl3_get_server_certificate:certificate verify failed in C:\wamp64\www\zend2112\vendor\zendframework\zend-mail\src\Protocol\Smtp.php on line 216`**

Here is my function:

[code]
Thanks for read

[2019-12-31 21:37] weierophinney commented on #30
I have the same issue.
Did you solve it somehow?

---

Originally posted by @ZoltanDobrovolni at https://github.com/zendframework/zend-mail/issues/202#issuecomment-399844022

[2019-12-31 21:37] weierophinney commented on #30
Your system CA certificates are most likely stale. If on linux check for ca-certs or ca-certificates package. Try to update it first.

If that does not work you need to point ini option to a fresh `cafile` location:
https://secure.php.net/manual/en/openssl.configuration.php

Take a look at https://github.com/paragonie/certainty
It is an easy way to get fresh ca certificates bundle file.

I, person

[2019-12-31 21:37] weierophinney commented on #30
Thanks for your help!

Unfortunatelly, we could not make it working with updated certificates.
So we avoided the problem with other solution.

---

Originally posted by @ZoltanDobrovolni at https://github.com/zendframework/zend-mail/issues/202#issuecomment-400081147

[2019-12-31 21:37] weierophinney commented on #30
What was it?

---

Originally posted by @RAIMUNDOS54 at https://github.com/zendframework/zend-mail/issues/202#issuecomment-441052399

[2019-12-31 21:37] weierophinney commented on #30
Not sure if this helps, but anyway...
I was able to connect to my GMail account after enabling "Less secure applications" on it's settings.

---

Originally posted by @galvao at https://github.com/zendframework/zend-mail/issues/202#issuecomment-441133621

[2020-01-15 11:03] UBAazubi opened #32 "How to migrate from Zend 1.0???"
Hey,
I don't know what to do. My boss told me to migrate our Zend 1 applications to current Zend-Mail (or Laminas) without touching any source code (because this would be too much work). Maybe with a wrapper-class or whatever... In the best case we would like to migrate to composer as well but that seems to be too difficult without touching projects.

Our folder looks like this
- Project X
   ->sr

[2020-01-15 17:42] Xerkus commented on #32
Issue tracker is for reporting issues or requesting features for the package. For support please use our [Slack chat](https://laminas.dev/chat/#slack) and [forums](https://discourse.laminas.dev)

[2020-01-15 17:42] #32 closed

[2020-01-15 18:16] UBAazubi commented on #32
![Q6hVzjl](https://user-images.githubusercontent.com/57992054/72459615-7475fe00-37cb-11ea-88e9-c808f4f6dadc.png)

[2020-01-15 18:25] geerteltink commented on #32
@UBAazubi  If you open an issue with that button it also says:

[2020-01-15 18:50] Xerkus commented on #32
@UBAazubi we did not accept usage questions on issue trackers before as it generates significant amount of notification noise. I will need to check if we revised that recently or if, more likely, Support Question is misleading and need to be amended.

In the meanwhile I recommend to use our forums as this question is not entirely within the scope of this package.

[2020-01-15 19:47] michalbundyra opened #33 "Add JMAP support (as an alternative to IMAP + SMTP, and later to CardDAV/CalDAV)"
"JMAP is intended to be a new standard for email clients to connect to
mail stores. It therefore intends to primarily replace IMAP + SMTP
submission. It is also designed to be more generic such that it can be
extended with contacts, calendars in the future (replacing
CardDAV/CalDAV). It does not replace MTA-to-MTA SMTP transmission."

http://jmap.io/

You may wonder "Who uses or supports it?"

Cyr

[2020-01-15 19:47] michalbundyra commented on #33
We started https://github.com/WikiSuite/zend-jmap at the http://wikisuite.org/July-2018-JMAP-IETF-Hackathon-in-Montreal

---

Originally posted by @marclaporte at https://github.com/zendframework/zend-mail/issues/201#issuecomment-405097745

[2020-01-15 19:47] michalbundyra opened #34 "replace call_user_func* with self invoked function"
as dev-master already use php ^7.1

---

Originally posted by @samsonasik at https://github.com/zendframework/zend-mail/pull/200

[2020-01-15 19:47] michalbundyra commented on #34
I rolled back the changes on master that changed the PHP minimum, as we are not supposed to do that in a minor release. 2.10.0 will support 5.6 and 7.0 again.

As such, marking this for 3.0.0.

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-mail/pull/200#issuecomment-395213765

[2020-01-15 19:47] michalbundyra commented on #34
This repository has been moved to laminas/laminas-mail. If you feel that this patch is still relevant, please re-open against that repository, and reference this issue. To re-open, we suggest the following workflow:
 - Squash all commits in your branch (`git rebase -i origin/{branch}`)
 - Make a note of all changed files (`git diff --name-only origin/{branch}...HEAD
 - Run the laminas/laminas-migr

[2020-01-15 19:47] michalbundyra opened #35 "email with X-Face header can not be parsed"
[code]

yields:
[code]

This can be tested with [online](http://www.dairiki.org/xface/xface.php) tool

![example](http://www.dairiki.org/xface/xface.php?xface=-wlbD9%27%3DrreR%5D%257k%3DU%2F%249SH49NUKg%2587%26q%40LL%2Ff-N8J5fAS%24%28eMSkqGYAX%7BV%3F%3A%7DZP7%26%7C%40~lR%22jz-sU-yjj4Om%3F%22%23%5E%26RQ%2FD1X%7DNaJG%27%27pmX%5CqOjp%3BMejrcq%3F~.iVv%2A%29nD%28-c4kSQvL.N%3Dq_9%5B7vt%3BC%24%21vga6l_O1

[2020-01-15 19:48] michalbundyra opened #36 "remove Null Transport"
since composer.json master branch is only support php:^7.1

---

Originally posted by @samsonasik at https://github.com/zendframework/zend-mail/pull/195

[2020-01-15 19:48] michalbundyra commented on #36
Please rebase this against develop and change the target branch. Since it's a BC break, it needs to target a new major version.

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-mail/pull/195#issuecomment-369737328

[2020-01-15 19:48] michalbundyra commented on #36
@weierophinney I've rebased against develop and change target to develop branch.

---

Originally posted by @samsonasik at https://github.com/zendframework/zend-mail/pull/195#issuecomment-369738376

[2020-01-15 19:48] michalbundyra commented on #36
i suppose it addresses problem that `null` is no longer allowed as class names in newer php versions?

and explanation why it's *removed* not just renamed?

also, fix spelling: `Tranport` -> `Transport`,

---

Originally posted by @glensc at https://github.com/zendframework/zend-mail/pull/195#issuecomment-370810847

[2020-01-15 19:48] michalbundyra commented on #36
the `null` transport was mapped to `inMemory`, so, it is same to use `inMemory`. Thank you, I've updated PR title  `Tranport -> Transport,`

---

Originally posted by @samsonasik at https://github.com/zendframework/zend-mail/pull/195#issuecomment-370942877

[2020-01-15 19:48] michalbundyra commented on #36
This repository has been moved to laminas/laminas-mail. If you feel that this patch is still relevant, please re-open against that repository, and reference this issue. To re-open, we suggest the following workflow:
 - Squash all commits in your branch (`git rebase -i origin/{branch}`)
 - Make a note of all changed files (`git diff --name-only origin/{branch}...HEAD
 - Run the laminas/laminas-migr

[2020-01-15 19:48] michalbundyra opened #37 "Zend\Mail\Storage\Mbox can't fetch messages due to header issues"
PHP 7.2.2, Zend Mail at it's latest version as of today.

I'm opening an old mailbox file generated by Mozilla Thunderbird (please note that I get the same issue with other Thunderbird mailbox files). It has 2,521 messages and every single one of them causes this Zend\Mail\Exception\RuntimeException.

This issue happens:

1. When trying to iterate through the mailbox file with a foreach (as shown

[2020-01-15 19:48] michalbundyra commented on #37
I believe a clarification is in order: I simply cannot fetch these messages. It doesn't matter if I catch this Exception or not, which is the reason for this issue.

---

Originally posted by @galvao at https://github.com/zendframework/zend-mail/issues/193#issuecomment-362932832

[2020-01-15 19:48] michalbundyra commented on #37
Update: Using the second method (count + for loop) it's possible to catch the Exception, but still, every single message causes this Exception, making the task of reading these messages absolutely impossible.
Since Custom Headers [seem to be a common thing](https://www.google.com.br/search?q=custom+headers+on+mail+messages&ie=utf-8&oe=utf-8&client=firefox-b-ab&gws_rd=cr&dcr=0&ei=keCYWvzMKcHn5gLYmY

[2020-01-15 19:48] michalbundyra opened #38 "getFolders - Parsing literals ends into a endless loop"
When a response contains a literal php ends in an endless loop.

See RFC about literals: https://tools.ietf.org/html/rfc3501#section-4.3

Below a snippet of the response of imap command `A1 LIST "" *`
[code]
This snippet is the cause of the endless loop. Problem seems to be the appending of a space in Zend\Mail\Protocol in method decodeLine.
`
$line = trim($line) . ' ';
`
should be

`
$line = trim

[2020-01-15 19:48] michalbundyra commented on #38
Is there a solution for this currently? because removing the space doesn't fix it for me

---

Originally posted by @canaan5 at https://github.com/zendframework/zend-mail/issues/191#issuecomment-386883261

[2020-01-15 19:48] michalbundyra commented on #38
Oh didn't see this issue. Same thing here:
#240
`https://github.com/zendframework/zend-mail/issues/240`
I have a gues to what line causes it. Removing that extra space on the mentioned line seams to work. But I guess someone needs to write a test and make a pull request etc. etc.
Its a very serious flaw that makes scripts hang completely/indefinitely.

---

Originally posted by @jensstalder at htt

[2020-01-15 19:48] michalbundyra opened #39 "Drop dependency on zendframework/zend-loader"
This removes the dependency on the zendframework/zend-load package, as suggested in #185

The `HeaderLoader` class has been removed and replaced by a simple class map in the `Headers` class.

However, I have also removed the `getPluginClassLoader` and `setPluginClassLoader` methods. Since they are public, this might be a BC break. What do you think?

---

Originally posted by @acelaya at https://g

[2020-01-15 19:48] michalbundyra commented on #39
Builds are failing with latest dependencies, but they are failing in master too.

I'll try to figure out how to fix them, but it might take me time.

---

Originally posted by @acelaya at https://github.com/zendframework/zend-mail/pull/186#issuecomment-353377097

[2020-01-15 19:48] michalbundyra commented on #39
Please rebase onto develop

---

Originally posted by @Xerkus at https://github.com/zendframework/zend-mail/pull/186#issuecomment-353378080

[2020-01-15 19:48] michalbundyra commented on #39
There is a PR with fix, I will merge it shortly

---

Originally posted by @Xerkus at https://github.com/zendframework/zend-mail/pull/186#issuecomment-353378507

[2020-01-15 19:48] michalbundyra commented on #39
Perfect then. Thanks.

---

Originally posted by @acelaya at https://github.com/zendframework/zend-mail/pull/186#issuecomment-353378587

[2020-01-15 19:48] michalbundyra commented on #39
I have rebased develop. I'll do it again once you merge the other PR.

---

Originally posted by @acelaya at https://github.com/zendframework/zend-mail/pull/186#issuecomment-353380305

[2020-01-15 19:48] michalbundyra commented on #39
Just a heads up: there is a big ongoing effort going for next major versions for zend-expressive and related packages as well as for zend-mvc. This change will require a next major version, and I do not expect to get to it until february.

---

Originally posted by @Xerkus at https://github.com/zendframework/zend-mail/pull/186#issuecomment-353385648

[2020-01-15 19:48] michalbundyra commented on #39
Ok, no rush :-)

---

Originally posted by @acelaya at https://github.com/zendframework/zend-mail/pull/186#issuecomment-353386743

[2020-01-15 19:49] michalbundyra commented on #39
This repository has been moved to laminas/laminas-mail. If you feel that this patch is still relevant, please re-open against that repository, and reference this issue. To re-open, we suggest the following workflow:
 - Squash all commits in your branch (`git rebase -i origin/{branch}`)
 - Make a note of all changed files (`git diff --name-only origin/{branch}...HEAD
 - Run the laminas/laminas-migr

[2020-01-15 19:49] michalbundyra opened #40 "Consider removing dependency on zend-loader"
I have seen that this package requires `zendframework/zend-loader`, just for one class, the `Zend\Mail\Header\HeaderLoader`.

However, this class basically defines a map to resolve header names to class names.

Would you be open to replace this by a simple array map in the `Zend\Mail\Headers` class? This would let us drop the requirement on `zendframework/zend-loader` (assuming I'm not missing any

[2020-01-15 19:49] michalbundyra commented on #40
LGTM: kill it 👍

On 15 Dec 2017 23:42, "Alejandro Celaya" <notifications@github.com> wrote:

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-mail/issues/185#issuecomment-352252797

[2020-01-15 19:49] michalbundyra opened #41 "SMTP protocol: error in function rcpt ?"
Hi,
First: sorry if my english is not perfect :-)

In my company, a project (currently in development) is using Zend\Mail with SMTP protocol to send email

When a mail is sent with multiple recipients (to, cc and bcc), the SMTP server checks email addresses, return a error code 550 5.1.1 if one doesn't exists  and a exception is thrown by Zend\Mail\Protocol\Smtp => and the email is not send at all

[2020-01-15 19:49] michalbundyra opened #42 "$this->headers must be an instance of Headers"
If subject is NULL (mail have no subject) I got this exception

Need to handle NULL subject without error/exception.

---

Originally posted by @r0073rr0r at https://github.com/zendframework/zend-mail/issues/167

[2020-01-15 19:49] michalbundyra commented on #42
Please provide code and/or unit test to reproduce the error. I tried the following test and it works:

[code]

---

Originally posted by @samsonasik at https://github.com/zendframework/zend-mail/issues/167#issuecomment-386848965

[2020-01-15 19:49] michalbundyra opened #43 "tests: Mail\Message produced output not usable by Storage\Message"
this shows the problem zend-mail is having:

mail created with `Mail\Message` and serialized into raw
and then loaded with `Storage\Message` causes parse error if the `$text` contains double unix newlines (`\n\n`).

[code]

this throws on `$message = new Storage\Message(['raw' => $raw]);`

`

---

Originally posted by @glensc at https://github.com/zendframework/zend-mail/pull/159

[2020-01-15 19:49] michalbundyra commented on #43
This repository has been moved to laminas/laminas-mail. If you feel that this patch is still relevant, please re-open against that repository, and reference this issue. To re-open, we suggest the following workflow:
 - Squash all commits in your branch (`git rebase -i origin/{branch}`)
 - Make a note of all changed files (`git diff --name-only origin/{branch}...HEAD
 - Run the laminas/laminas-migr

[2020-01-15 19:49] michalbundyra opened #44 "testcase for broken Header\AbstractAddressList::fromString"
Problem:

1. [GenericHeader](https://github.com/zendframework/zend-mail/blob/release-2.7.3/src/Header/GenericHeader.php#L33-L40) loads the header in file, decodes it to utf-8
2. the [Headers::get](https://github.com/zendframework/zend-mail/blob/release-2.7.3/src/Headers.php#L318) attempts to Lazy-Load "To" header class

Lazyload [does stringify and load in from string](https://github.com/zendframe

[2020-01-15 19:49] michalbundyra commented on #44
toString invocation path:
- [GenericHeader::toString](https://github.com/zendframework/zend-mail/blob/release-2.7.3/src/Header/GenericHeader.php#L171)
- [GenericHeader::getFieldValue](https://github.com/zendframework/zend-mail/blob/release-2.7.3/src/Header/GenericHeader.php#L144)
- [HeaderWrap::wrap](https://github.com/zendframework/zend-mail/blob/release-2.7.3/src/Header/HeaderWrap.php#L31)
- [He

[2020-01-15 19:49] michalbundyra commented on #44
perhaps the fix is in zend-mime project:
https://github.com/zendframework/zend-mime/pull/26

if it gets accepted!

---

Originally posted by @glensc at https://github.com/zendframework/zend-mail/pull/146#issuecomment-302538263

[2020-01-15 19:49] michalbundyra commented on #44
after https://github.com/zendframework/zend-mime/pull/26 being applied,
such code with Zend\Mail:
[code]
before:
[code]

now:
[code]

and
[code]

[code]

---

Originally posted by @glensc at https://github.com/zendframework/zend-mail/pull/146#issuecomment-302540883

[2020-01-15 19:49] michalbundyra commented on #44
@weierophinney closed this in zendframework/zend-mime@73e6d05 15 days ago

this is not correct. reopen please.

---

Originally posted by @glensc at https://github.com/zendframework/zend-mail/pull/146#issuecomment-351526202

[2020-01-15 19:49] michalbundyra commented on #44
@glensc I think I'm not understanding something.

The original string includes an encoded comma (`=2c`).

Why should the comma NOT be encoded when the `To` header is cast to a string? Is it because of the different encodings (iso-8859-1 vs UTF-8)?

(I need to understand why your expectation should be the expected behavior, basically.)

---

Originally posted by @weierophinney at https://github.com

[2020-01-15 19:49] michalbundyra commented on #44
@weierophinney it's combination of these two statements from Pull Description:

- However, toString does not encode comma
- AND To header class does split on comma!

i tried to explain the problem in test comments as well: https://github.com/zendframework/zend-mail/pull/146/files

if my explanation is not understandable (not sure i catched your question), just see the test code and how it behaves.

[2020-01-15 19:49] michalbundyra commented on #44
This repository has been moved to laminas/laminas-mail. If you feel that this patch is still relevant, please re-open against that repository, and reference this issue. To re-open, we suggest the following workflow:
 - Squash all commits in your branch (`git rebase -i origin/{branch}`)
 - Make a note of all changed files (`git diff --name-only origin/{branch}...HEAD
 - Run the laminas/laminas-migr

[2020-01-15 19:49] michalbundyra opened #45 "Problems with mailadress parsing"
Example Email-header:
"Foo <bar" foo.bar@test.com

Description:
The example email-header should be valid according to https://tools.ietf.org/html/rfc2822#section-3.4 but the function AdressList.php/addFromString matches it incorrect. The result has the following form:
"bar <foo.bar@test.com"
This is clearly not a valid adress and therefore causes exceptions in the following code

Solution:
Changin

[2020-01-15 19:49] michalbundyra commented on #45
@Baztey created PR based on your comments, including tests:
https://github.com/zendframework/zend-mail/pull/143

however, it needs more fixes, because encoding back creates invalid result.

btw, your bugreport here has lost `<>`, use markdown code blocks to preserve them.

---

Originally posted by @glensc at https://github.com/zendframework/zend-mail/issues/127#issuecomment-301312488

[2020-01-15 19:49] michalbundyra opened #46 "Not overriding from mail header"
When using smtp transport api for sending mail, 'from' header doesn't change by using
->setFrom() or ->setSender() and 'from' header always remains the same email address used for smtp user for authentication. In following example, from email address remains same as 'xxx@gmail.com' instead of 'sender@test.com'.

Note: Sender name gets changed with 'Some Sender' (but not the email)

[code]

---

Or

[2020-01-15 19:49] michalbundyra opened #47 "Transport service factory"
There is missing service factory for mail transports like same in db and other components.

production config/autoload/local.php

[code]

testing / dev config/autoload/local.php

[code]

That is may look like https://github.com/autowp/zf-components/blob/master/src/Mail/Transport/TransportServiceFactory.php

---

Originally posted by @autowp at https://github.com/zendframework/zend-mail/issues/120

[2020-01-15 19:50] michalbundyra commented on #47
This appears to be at least somewhat implemented in: https://github.com/zendframework/zend-mail/blob/master/src/Transport/Factory.php

---

Originally posted by @fuel-wlightning at https://github.com/zendframework/zend-mail/issues/120#issuecomment-516538753

[2020-01-15 19:50] michalbundyra opened #48 "Windows 10/PHP7 Lone CR/LF Exception"
On my windows 10/PHP 7 box I'm getting this error. This error does not effect our dev/production unix servers.

`Unable to send mail: mail(): SMTP server response: 550 5.6.0 Lone CR or LF in headers (see RFC2822 section 2.2)`

I don't think there is anything wrong with the code that is simply rendering a template.

[code]

---

Originally posted by @tomshaw at https://github.com/zendframework/zend

[2020-01-15 19:50] michalbundyra commented on #48
Just tested PHP 5.6 same machine works fine. Looks like this is solely PHP 7 issue.

---

Originally posted by @tomshaw at https://github.com/zendframework/zend-mail/issues/115#issuecomment-247812740

[2020-01-15 19:50] michalbundyra opened #49 "Email Attachments"
I use Zend in ESPOCRM but i have been having issues with receiving attachments from some users the attachments still remain on the email server but they do not make it in the import any help would be great

this is the error it kicks out in the raw email

Line \"-0700 (PDT)\"does not match header format!

ESPOcrm 4.2.5
Ubuntu 14.04 LTS
Apache/2.4.7 (Ubuntu)
Zend 2.5.2 - 2015-09-10

---

Originally

[2020-01-15 19:50] michalbundyra opened #50 "Zend\Mail\Storage\Maildir Instance Problems and EOL Parameter"
Hi all,

i have a directory with a huge amount of Mails, so i decided to use the Zend\Mail\Storage\Maildir Class for getting all Mails within this directory. See my code:

[code]

I guess there is an bug and an unhandled feature.

Bug: With the code above i got an exception

The problem is that in Maildir.php::getMessage($id)

[code]

At least in PHP 5.5.30, other i couldn't test at the moment, th

[2020-01-15 19:50] michalbundyra opened #51 "Content-Type header handling"
Hi

There is a case when emails have Content-Type header, defined with keyword "ContentType", for example:

[code]

In this case error appears:

[code]

[Looking header fieldName normalization](https://github.com/zendframework/zend-mail/blob/master/src/Headers.php#L524), I see that `Content-Type`, `Content_Type`, `Content Type`, `ContentType` will be normalized to `contenttype`. So `contenttype` w

[2020-01-15 19:50] michalbundyra commented on #51
Good catch :+1: Definitely looks to me like a strictness mismatch between the two classes:  `ContentType::fromString` does not normalize the keyword while the Headers bag does.  I'm not familiar enough with Zend\Mail to know which is the intended behaviour, but it should definitely be consistent.  Tecnically, only `Content-Type` is valid and the others should be ignored, but our world is not that

[2020-01-15 19:50] michalbundyra commented on #51
I'm not sure we should support the contentType header. I just searched through a corpus of about a million emails sent over the past 5 days. And found only 5 emails containing the 'contentType' header. All from the same server and domain, and all mails with the contentType header also had a Content-Type header (with an identical value).

I could search in a much larger corpus as well, but this ser

[2020-01-15 19:50] michalbundyra commented on #51
@Freeaqingme , I'm not sure, but it looks like, mails sent using Microsoft Outlook have both `Content-Type` and `ContentType` headers in each email.

---

Originally posted by @hugeval at https://github.com/zendframework/zend-mail/issues/107#issuecomment-239526587

[2020-01-15 19:50] michalbundyra commented on #51
@Freeaqingme how about other headers this class normalizes the field names of?  Could we drop [that normalization](https://github.com/zendframework/zend-mail/blob/master/src/Headers.php#L524) for 3.0?  Right now it's just shifting the problem from the header bag into the individual header classes (which reject the invalid field names).

---

Originally posted by @adamlundrigan at https://github.co

[2020-01-15 19:50] michalbundyra commented on #51
We are also experiencing this issue. Mail which is sent by Wrike also contains Content-Type and Contenttype

---

Originally posted by @fasterforward at https://github.com/zendframework/zend-mail/issues/107#issuecomment-259090796

[2020-01-15 19:50] michalbundyra commented on #51
This is happening for headers other than Content-Type, FYI. I ran into this problem with Mime-Version coming in as MimeVersion. I implemented it in my fork, here's an example: https://github.com/ParticleBits/zend-mail/commit/96a8a4a3b0803a05ba1665e87e5a3a4a255ffcff

I don't know if this would be the preferred fix for this codebase but if it is, it's a minor PR.

---

Originally posted by @mikegioi

[2020-01-15 19:50] michalbundyra opened #52 "Uncaught exception of Protocol\Smtp if use it from console with crashed server"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/6488
User: @filipp-k
Created On: 2014-07-28T09:18:00Z
Updated At: 2016-03-10T18:05:14Z
Body
Sorry my bad English =)

After fixing #364

[2020-01-15 19:50] michalbundyra opened #53 "[Mail][ZF2-372] Do not limit explode result"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/6824
User: @wizzvet-cborsenberger
Created On: 2014-10-31T16:34:01Z
Updated At: 2015-03-02T13:25:14Z
Body

---
### Comment

User: @Mart

[2020-01-15 19:50] michalbundyra opened #54 "Zend\Mail: setEncoding broken"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7324
User: @echampet
Created On: 2015-03-13T13:57:58Z
Updated At: 2015-10-25T07:09:02Z
Body
Hi,

I'm using `Zend\Mail\Message::fromStr

[2020-01-15 19:50] michalbundyra opened #55 "Zend\Mail: email parsing doesn't support base64 encoded comma inside name"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7363
User: @echampet
Created On: 2015-03-24T15:20:50Z
Updated At: 2015-11-06T21:02:46Z
Body
Hi
#6267 isn't enough.

in https://github.

[2020-01-15 19:50] michalbundyra opened #56 "Quotes are stripped in MIME-encoded from header values in Zend\Mail"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7593
User: @dendemann
Created On: 2015-06-23T10:52:42Z
Updated At: 2015-10-25T07:17:23Z
Body
If a mime encoded "from" header value con

[2020-01-15 19:50] michalbundyra opened #57 "Mail recepients with German umlaut are not accepted"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7654
User: @renecatharsis
Created On: 2015-12-21T12:08:38Z
Updated At: 2016-02-13T15:34:02Z
Body
Hi,

since ZF v2.4.x, I cannot send a

[2020-01-15 19:50] michalbundyra commented on #57
That's because this is not possible without support for SMTPUTF8 from [RFC 6581](https://tools.ietf.org/html/rfc6531). UTF-8 in headers and body are handled using 8BITMIME, but that has no bearing on the SMTP layer.

---

Originally posted by @Synchro at https://github.com/zendframework/zend-mail/issues/98#issuecomment-269480776

[2020-01-15 19:50] michalbundyra opened #58 "Zend Mail Pop3 - Invalid header value detected"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7655
User: @stmaxvl
Created On: 2015-12-28T12:01:52Z
Updated At: 2016-02-13T15:34:07Z
Body
I use Zend\Mail\Storage\Pop3 to get message

[2020-01-15 19:51] michalbundyra commented on #58
I have the same problem, I'm also using `\Zend\Mail\Storage\Message`.
Some of my incoming emails containing non ASCII characters in header values, especially in subject :(

I tried to disable the validation but I failed because the validation is hard wired and deep nested in the parse logic.

At the moment i've no idea how to solve this problem. Does anyone have an idea?

---

Originally posted by

[2020-01-15 19:51] michalbundyra opened #59 "\Zend\Mail\Header\HeaderValue should support unicode characters"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7656
User: @akosphp
Created On: 2016-01-02T14:42:06Z
Updated At: 2016-02-13T15:34:17Z
Body
The isValid method doesn't support unicode

[2020-01-15 19:51] michalbundyra commented on #59
Any known workarounds for this issue?

---

Originally posted by @chadabaker at https://github.com/zendframework/zend-mail/issues/96#issuecomment-519491891

[2020-01-15 19:51] michalbundyra commented on #59
Read https://docs.zendframework.com/zend-mail/message/intro/ and just use correct encoding.

---

Originally posted by @coder-pm at https://github.com/zendframework/zend-mail/issues/96#issuecomment-525195463

[2020-01-15 19:51] michalbundyra opened #60 "Zend\Mail\Transport\Factory::create expects an array or Traversable argument; received "NULL""
I am using a Zend Mail component using Transport/Factory and SMTP configuration. I am constantly getting this error despite using proper guidelines in the Zend documentation  .

[code]

---

Originally posted by @adilogs at https://github.com/zendframework/zend-mail/issues/95

[2020-01-15 19:51] michalbundyra commented on #60
@adilogs

Please provide your specification for the factory.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-mail/issues/95#issuecomment-228267909

[2020-01-15 19:51] michalbundyra commented on #60
@froschdesign I used the SMTP configuration as specified here: http://framework.zend.com/manual/current/en/modules/zend.mail.smtp.options.html#smtp-transport-usage-with-login-auth

my mailservice.global.php is like this

[code]

---

Originally posted by @adilogs at https://github.com/zendframework/zend-mail/issues/95#issuecomment-228269047

[2020-01-15 19:51] michalbundyra opened #61 "Zend\Mail\Message::formString() wrongly interprets headers with countr-specific characters"
I have described the problem in an article - here's is part of it exactly about the bug in the method:

Here is also a code - overloaded method - that fixes that:

[code]

Full information on an error including the solution itself can be found in the following article:
http://www.linkedphpers.org/2016/04/zend-framework-2-zendmailmessagefromstr.html

---

Originally posted by @Voyteck at https://gi

[2020-01-15 19:51] michalbundyra commented on #61
2 Years later and still a Problem ...

This is how we fixed that:

Overloading Headers class:
[code]

---

Originally posted by @CyberLine at https://github.com/zendframework/zend-mail/issues/91#issuecomment-433937117

[2020-01-15 19:51] michalbundyra commented on #61
Please provide a failing test case, and then the fix will likely be trivial.

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-mail/issues/91#issuecomment-433937462

[2020-01-15 19:51] michalbundyra opened #62 "Error parsing response - FETCH ENVELOPE"
**PHP**
`$protocol->requestAndResponse('FETCH', ['3596', $protocol->escapeList(['ENVELOPE'])], false);`

**IMAP response**
- 3596 FETCH (ENVELOPE ("Mon, 07 Apr 2014 08:32:39 +0000" "Igor Presnyakov: \"Kansas - Dust In The Wind ( guitar&vocal edition ) - Igor Presnyakov\"" (("YouTube" NIL "noreply" "youtube.com")) (("YouTube" NIL "noreply" "youtube.com")) (("YouTube" NIL "noreply" "youtube.com")) (

[2020-01-15 19:51] michalbundyra commented on #62
Please edit your question and style it for to make it more legible https://guides.github.com/features/mastering-markdown/

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-mail/issues/89#issuecomment-218704064

[2020-01-15 19:52] michalbundyra commented on #62
@Maks3w done

---

Originally posted by @luigimeclea at https://github.com/zendframework/zend-mail/issues/89#issuecomment-218705517

[2020-01-15 19:52] michalbundyra opened #63 "[SSL/TLS] Support for pass the stream context"
From PHP 5.6, SSL/TLS client streams now enable peer verification by default.
So, error occurs when communicate with the server that is using a self-signed certificate.

See: http://php.net/manual/migration56.openssl.php

In order to avoid the above problem:

[code]

In this way, there is a need to pass a [stream context](http://php.net/stream_context_create) to the stream function.

However, the

[2020-01-15 19:52] michalbundyra commented on #63
I created a fork which solves this issue hard-coded here: https://github.com/Cruiser13/zend-mail
I don't think they'll add a config solution inside the core since ZF1 reached end of lifetime.

---

Originally posted by @Cruiser13 at https://github.com/zendframework/zend-mail/issues/84#issuecomment-242775440

[2020-01-15 19:52] michalbundyra commented on #63
Um... This component is v2, and still maintained...

On Aug 26, 2016 11:54 AM, "Lennart Sauter" notifications@github.com wrote:

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-mail/issues/84#issuecomment-242796641

[2020-01-15 19:52] michalbundyra commented on #63
Sorry, I meant to post it here, got the versions mixed up: https://github.com/zendframework/zf1/issues/709
So there's hope for ZF2 and this issue :)

---

Originally posted by @Cruiser13 at https://github.com/zendframework/zend-mail/issues/84#issuecomment-243051655

[2020-01-15 19:52] michalbundyra commented on #63
Same here. Would be great if we could disable verify_peer for `Zend\Mail\Protocol\Pop3` `Zend\Mail\Protocol\Smtp` `Zend\Mail\Protocol\Imap`. This issue appears to be open for 2 years?

---

Originally posted by @jensstalder at https://github.com/zendframework/zend-mail/issues/84#issuecomment-447363310

[2020-01-15 19:52] michalbundyra opened #64 "Allow non-strict email address validation"
Add ability to specify whether EmailAddressValidator used by AddressList should validate the email with the `strict` flag set or not.

---

Originally posted by @davidwindell at https://github.com/zendframework/zend-mail/issues/83

[2020-01-15 19:52] michalbundyra commented on #64
This would be very useful. I'm using Zend-Mail to parse emails that arrive in an inbox and therefore have no control over their header values. When calling `Zend\Mail\Storage\Imap->getMessage()` an Exception is thrown from deep inside the Zend Framework if the `Return-Path` header contains a long address:

[code]

A quick and dirty solution would be to add some static method like `setStrictMode` t

[2020-01-15 19:52] michalbundyra commented on #64
I completely agree with @steffenweber. We use Zend Mail along with Zend Mime to parse bounce reports. And those often contain something like `Return-Path: <>` which triggers exception in `AddressList`.

---

Originally posted by @kaero598 at https://github.com/zendframework/zend-mail/issues/83#issuecomment-288379741

[2020-01-15 19:52] michalbundyra commented on #64
+1

---

Originally posted by @svaningelgem at https://github.com/zendframework/zend-mail/issues/83#issuecomment-376565845

[2020-01-15 19:52] michalbundyra commented on #64
Similar issue here. When iterating over an inbox (where you don't have control over the messages in there), I am e.g. running into `Uncaught Zend\Mail\Exception\InvalidArgumentException: 'example.org ()' is not a valid hostname for the email address in zendframework/zend-mail/src/Address.php:77`.

In my case the `To` header contains this garbage: `To: user@example.org ()`.

Is there a good way to

[2020-01-15 19:52] michalbundyra commented on #64
Hello, I did solve it with Validator quick fix for Moon Box. Cf : https://github.com/Monwoo/MoonBox/commit/0636a95e88f3eebce202e42bed48b5617abe0a73#diff-1a8dca4bf22bff2976d4f1eac7e2f50f

Use composer Autoload feature to quick fix vendors files :
`  "autoload": {
    "files": [
      "vendorFixies/zend-validator/EmailAddress.php"
    ]
  },
`
=> https://github.com/Monwoo/MoonBox/commit/0636a95e88f3

[2020-01-15 19:52] michalbundyra opened #65 "Port back setBodyHtml() and setBodyText()"
I get the concept of removing the mentioned methods in ZF2 derives from the fact that a message may have several MIME parts, not only HTML and plain text. But still, most of the time nowadays we primarily compose HTML messages, secondarily with text/plain fallback. With the current concept we have to roll over and over something like this:

[code]

Compared to ZF1 this is way too tedious. I am sur

[2020-01-15 19:52] michalbundyra opened #66 "How can I encode headers to base64?"
Hello.
There is a function **setHeaderEncoding** mentioned here http://framework.zend.com/manual/current/en/modules/zend.mail.encoding.html, but could not find in the current code.

Message headers are always encoded to QuotedPrintable, could not find any way to encode to base64 https://github.com/zendframework/zend-mime/blob/master/src/Mime.php#L244

May be I am wrong, but imho there is some kind

[2020-01-15 19:52] michalbundyra opened #67 "Mail recepients with German umlaut are not accepted"
##

Cloned this from zf2 issue repository for correct assignment to zend-mail:
## https://github.com/zendframework/zf2/issues/7654

Hi,

since ZF v2.4.x, I cannot send any mails to recepients containing German umlauts in their mail address.
For exmaple: testäöü@gmail.com
Encoding is set to UTF-8 on Zend\Mail\Message object.
The following expection is thrown:

`Invalid header value detected #0 foob

[2020-01-15 19:52] michalbundyra commented on #67
AFAIK umlauts are not allowed in an email address (yet). The current accepted standard is RFC 2822 and non ASCII characters are not allowed in the local-part there. Non ASCII characters are proposed in RFC 6531. But this is still markes as PROPOSED STANDARD and was not implemented in
Zend\Validator\EmailAddress::validateLocalPart() (see: https://github.com/zendframework/zend-validator/blob/master/

[2020-01-15 19:52] michalbundyra commented on #67
I'm using v2.5.3 as well.
Installed by composer as part of zendframework/zendframework": "2.*
For me the validator returns true.
intl extension is loaded, the function idnToAscii actually calls PHP's idn_to_ascii function.

Running on a Win7 x64 with PHP7.0.0 wampstack, if that helps.

---

Originally posted by @renecatharsis at https://github.com/zendframework/zend-mail/issues/49#issuecomment-169

[2020-01-15 19:52] michalbundyra commented on #67
Oh. You're right. Intl was not loaded in my test environment. I have looked up RFC 6531, 6530, 5336, 5891 and 5890 and could not find any reference that the local-part could be converted to IDN ASCII. Actually there are some hints that the local-part SHOULD NOT be converted.

RFC 5891:

(https://tools.ietf.org/html/rfc5891#section-3.2.2)

RFC 6530:

(https://tools.ietf.org/html/rfc6530#section-1)

[2020-01-15 19:52] michalbundyra opened #68 "addCc() not delivering."
The recipient listed in addCc() doesn't get the email, although the person who is in addTo() can get the email and can even see the addCc recipient's name is listed in Cc field.

We are using SMTP on IBM Domino mail server.

Tested "Cc" using pure php mail() function, it worked.

This is most liked caused by the "\r\n" in the header.

---

Originally posted by @SBC-Fujian at https://github.com/zen

[2020-01-15 19:52] michalbundyra commented on #68
It's caused by using LF `\n` instead of the expected CRLF `\r\n`. This can be made to work by forcing the result of `\Zend\Mail\Transport\Sendmail::isWindowsOs()` to return `true`.

My suggestion as a workaround is simply extend the Zend\Mail Sendmail transport and override that method, something like this:

[code]

As for fixing permanently in Zend\Mail, I'd propose:

[code]

but not sure if this

[2020-01-15 19:53] michalbundyra commented on #68
I'm slightly confused. RFC 2822, section [2.2](http://tools.ietf.org/html/rfc2822#section-2.2) states:

Surely Zend\Mail should be using `\r\n` in all cases?

---

Originally posted by @akrabat at https://github.com/zendframework/zend-mail/issues/48#issuecomment-191703384

[2020-01-15 19:53] michalbundyra commented on #68
@akrabat see comment in the Sendmail class:

[code]

---

Originally posted by @asgrim at https://github.com/zendframework/zend-mail/issues/48#issuecomment-191705228

[2020-01-15 19:53] michalbundyra commented on #68
Interesting as the manual page for [mail()](http://php.net/manual/en/function.mail.php) says:

Though there is a note:

It feels like we're doing it wrong by sending `\n` to mail()  under any OS…

---

Originally posted by @akrabat at https://github.com/zendframework/zend-mail/issues/48#issuecomment-191707750

[2020-01-15 19:53] michalbundyra commented on #68
Using the `Smtp` transport solves this problem... I think that's the safer alternative for this platform :)

---

Originally posted by @asgrim at https://github.com/zendframework/zend-mail/issues/48#issuecomment-191724945

[2020-01-15 19:53] michalbundyra opened #69 "Merging local changes to upstream"
Hello,

I maintain a fork that is used in a mail-related SaaS, and would like to merge those changes upstream for the community to benefit from.  Would you prefer one massive PR with all of these changes, or a PR for each individual change?

You can view those changes at:
https://github.com/ameir/zf2/commits/mail-improvements

Thanks,
Ameir

---

Originally posted by @ameir at https://github.com/z

[2020-01-15 19:53] michalbundyra commented on #69
One commit per change please.

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-mail/issues/36#issuecomment-155220870

[2020-01-15 19:53] michalbundyra commented on #69
*PR

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-mail/issues/36#issuecomment-155220927

[2020-01-15 19:53] michalbundyra commented on #69
I began submitting PRs a few days ago, and have a few more to go.  Before ploughing too far forward, are there any questions/concerns about the PRs?  Do you have a timeframe in mind in which they can be reviewed/merged?

---

Originally posted by @ameir at https://github.com/zendframework/zend-mail/issues/36#issuecomment-156594049

[2020-01-15 19:53] michalbundyra opened #70 "Fix for RFC5322 comments wrongly strips "comments" within quoted strings"
The fix provided in PR #12 strips comments from within quoted strings. As per RFC5322#3.2.2 this should not happen:

---

Originally posted by @eth8505 at https://github.com/zendframework/zend-mail/issues/30

[2020-01-15 19:53] michalbundyra opened #71 "UTF8 when Read from IMAP"
I see error when mail have format with UTF8 Võ Ngọc, Minh <EMAIL>

Exception: exception 'Zend\Mail\Exception\InvalidArgumentException' with message 'The input is not a valid email address. Use the basic format local-part@hostname' in /mdata/libraries/ZendFramework2/library/Zend/Mail/Address.php:41 Stack trace: #0 /mdata/libraries/ZendFramework2/library/Zend/Mail/AddressList.php(249): Zend\Mail\Add

[2020-01-15 19:53] michalbundyra opened #72 "Subject header is duplicated"
**Summary**
On Windows with PHP 7, when sending an mail message with the Sendmail transport, the subject header is duplicated.

**Steps to reproduce**
To reproduce the bug the sample from here can be used:
http://framework.zend.com/manual/current/en/modules/zend.mail.introduction.html

The resulting mail headers look something like this:
Subject: Test Subject
Date: Wed, 29 Jul 2015 17:33:17 +0000

[2020-01-15 19:53] michalbundyra commented on #72
I was not able to reproduce this error. It seems, it is fixed in the current version.

Successfully tested on Windows 10 Pro with php-7.1.26-Win32-VC14-x64, php-7.2.15-Win32-VC15-x64 and php-7.3.2-Win32-VC15-x64.

Used quickstart example for [Sendmail Transport Usage](https://docs.zendframework.com/zend-mail/transport/intro/#sendmail-transport-usage)

[code]

Received mail

[code]

Edit: zend-mail

[2020-01-15 19:53] michalbundyra commented on #72
But why is `To` duplicated in your test result?

And for clarity include the value of your current zend-mail version.

---

Originally posted by @glensc at https://github.com/zendframework/zend-mail/issues/22#issuecomment-469582950

[2020-01-15 19:53] michalbundyra commented on #72
Very good observation, I will have a look into it. This might be a new issue.

---

Originally posted by @arueckauer at https://github.com/zendframework/zend-mail/issues/22#issuecomment-469596716

[2020-01-15 19:53] michalbundyra opened #73 "Access to text/plain or text/html body part?"
Would be nice to have an "easy" way of accessing the _human-text-body_ part like it was possible with ZF1's `Zend_Mail` (using `getBodyText()`, `getBodyHtml()`).

With current implementation of `Zend\Mail\Message`, theses _human_ bodies are anonymous parts of the body (a `Zend\Mime\Message`). Once added there is no easy way of fetching the HTML body for instance.

When building an e-mail it can be

[2020-01-15 19:53] michalbundyra commented on #73
zend-mail uses zend-mime to address multi-part emails. One key aspect of multi-part emails is that even with multipart/alternative, you can have more than one part using the same type.

The impact this has is that `getBodyText()` and `getBodyHtml()` could lead to _ambiguous results_ in cases where more than one part has the same type. As such, we need to decide:
- Should situations such as these t

[2020-01-15 19:53] michalbundyra commented on #73
I agree the API of Zend\Mail is not very friendly. It's too technical

Sometime Ago I had to write this project for extract the files attached in a message https://bitbucket.org/startupbootstrap/email-attachments/

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-mail/issues/20#issuecomment-123016305

[2020-01-15 19:53] michalbundyra commented on #73
I get why the \Zend\Mime API is following MIME "flexibility" of content and the impact it has on the \Zend\Mail API.

@weierophinney said:

According to [RFC 1521 - 7.2.3 The Multipart/alternative subtype](https://tools.ietf.org/html/rfc1521#section-7.2.3)

What I would humbly suggest (this is what I ended coding): adding a getter `\Zend\Mime\Message::getPart($type, $revIndex)` to get a `\Zend\Mim

[2020-01-15 19:53] michalbundyra commented on #73
You could of course implement these methods, but have them return an array of body parts. That would allow for easy access, yet transparently work if there's a multitude of parts with the same content type.

---

Originally posted by @Freeaqingme at https://github.com/zendframework/zend-mail/issues/20#issuecomment-125013465

[2020-01-15 19:53] michalbundyra commented on #73
I like @Freeaqingme 's idea, but I think it should be an other method, sg. like `getHtmlParts()` and `get TextParts()`. It could return an ArrayObject or Iterator compatible stack with the last, preferred part of that type (as per RFC1521) at the first position. The `getBodyHtml()` and `getBodyText()` methods then would return the preferred part of the kind.
**I have an other suggestion under** #6

[2020-01-15 19:53] michalbundyra opened #74 "Headers encoding / decoding is not always used when needed"
Here's the code that explain this issue:

[code]

---

Originally posted by @leonardo-piseri at https://github.com/zendframework/zend-mail/issues/15

[2020-01-15 19:53] michalbundyra commented on #74
Until someone provide a PR to improve this I'll wait to v3 before to fix it.

---

Originally posted by @Maks3w at https://github.com/zendframework/zend-mail/issues/15#issuecomment-138653580

[2020-02-19 17:51] ginkgomzd commented on #45
Let me know if I should create a new issue... this is topical, but probably different code.

I'm reading messages (from an IMAP inbox) and when getting `$msg->from` an InvalidArgumentException is generated for an address with a hostname with a subdomain e.g.
`Discover Card <discover@card-e.em.discover.com>`
[code]

[2020-02-19 19:58] ginkgomzd opened #76 "Storage\Message Iterator Implementation is not Robust"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.10.0

#### Summary

Storage\Message Iterator implementation does not catch exceptions and so is of limited to no use.
In the case where you simply want to deal with valid emails, you must instead...
[code]
... because using the Iterator, the try-catch must wrap the loop and there is no way to continue processing the mailb

[2020-02-21 14:56] arcaste commented on #67
For German umlaut you need to set `UTF-8` with `setEncoding` method in `\Laminas\Mail\Message()`

[2020-03-09 09:13] xgin opened #78 "Subject encoding depends on the order of setters"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.10.0

#### Summary

There is some kind of magic behind the encoding of the subject header here: https://github.com/laminas/laminas-mail/blob/004a4a589c8218056cda57e8e94da2cb4cdbfcf3/src/Header/Subject.php#L72
I believe it should work only if I had not specified the encoding explicitly.
But the initial encoding is reset wh

[2020-03-09 10:25] xgin opened #79 "Subject in ASCII encoding is delivered with extra spaces"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.10.0

#### Summary

The subject is more than 78 chars and the wrapped header splits into 2 lines.
If the subject contains non-ascii symbols, the UTF-8 encoded header is received as expected.
If the subject contains only ascii symbols, the header in the mail has an extra space symbol (where the linebreak was before sending

[2020-03-15 12:39] glensc commented on #78
@xgin:

Never link to branches!
- see https://news.ycombinator.com/item?id=8046710
  and https://help.github.com/articles/getting-permanent-links-to-files/
- hit `y`
- and perhaps https://github.com/josephfrazier/octopermalinker

ps: edit your issue to use permalinks

[2020-04-01 10:40] #7 closed

[2020-04-01 14:10] #18 closed

[2020-04-01 14:11] #21 closed

[2020-04-01 17:08] michalbundyra commented on #79
@xgin I was investigating that issue and I believe our implementation is correct according to the RFC-2822. Please see:

https://www.ietf.org/rfc/rfc2822.txt

[2020-04-03 16:41] yunluo989 opened #85 "Loops to attach files"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes/no
| BC Break    | yes/no

#### Summary

I need to use loop to attach files
however i only can do multiple attach files by manual setparts

[2020-04-04 22:54] marcomarsala opened #86 "Use of UIDs"
I cannot find a way to get UID of messages in IMAP folder. It would be a safe way to move and delete messages from a web interface or in a for loop.

[2020-04-06 09:14] michahaesler opened #87 "Not compatibel with PHP 7.3.16"
### Bug Report

|    Q        |   A
|------------ | ------
| Version  | ^2.10

#### Summary

I try to install the current Version of laminas/laminas-mail with:
`composer require laminas/laminas-mail`

#### Current behavior

But i get the following message:
`This package requires php 7.1 but your PHP version (7.3.16) does not satisfy that requirement.`

#### Expected behavior

Composer installs the

[2020-04-06 09:16] Ocramius commented on #87
This package does support 7.3.x:

https://github.com/laminas/laminas-mail/blob/2.10.0/composer.json#L32

Can you paste the full output of the above command?

[2020-04-08 05:06] michahaesler commented on #87
Thanks for your feedback.
Below the full output of the command. (My project is still a Zend-Framework project, not Laminas.)
![grafik](https://user-images.githubusercontent.com/26999865/78746436-20605d00-7967-11ea-854b-6b03e4c9b2fa.png)

[2020-04-08 05:14] michahaesler commented on #87
Thanks for your help.
I could solve it.
There was a require: { "php": "7.1" } statement in my projects local composer.json.

[2020-04-08 05:15] #87 closed

[2020-04-10 07:56] michalbundyra commented on #86
@marcomarsala I haven't tested it, but it looks like `getUniqueId` should do what you need:
https://github.com/laminas/laminas-mail/blob/ed904c71f437cf028c07d2a5b37485bef5dc220c/src/Storage/Imap.php#L267-L284

[2020-04-21 16:36] #78 closed

[2020-04-21 16:36] #74 closed

[2020-04-30 06:26] lklapa commented on #67
I also came across this issue. While I am aware of the rules of the RFC, the current behaviour is not consistent. An e-mail address with accents returns true for `Laminas\Validator\EmailAddress` validator, but the same e-mail is rejected by the `Laminas\Mail\Header\HeaderValue`'s `isValid()`.

The `Laminas\Validator\EmailAddress` has the option `strict`, but even though it defaults to `true` it do

[2020-06-23 04:28] triproject commented on #58
got the solution. but i think this must be done with new update of laminas/mail

`$data = [];

		for ($index = 0; $index <= $mail->countMessages(); $index++)  {
			try {
				$message = $mail->getMessage($index);

				$data[] = [
					'id' => $index,
					'has_seen' => $message->hasFlag(Storage::FLAG_SEEN),
					'from' => trim(strip_tags($message->from)),
					'from_email' => $this->_getEmail($mess

[2020-06-30 19:49] #14 closed

[2020-06-30 20:18] #2 closed

[2020-07-20 16:42] #57 closed

[2020-07-23 08:24] samsonasik commented on #39
I've created PR #95 for it.

[2020-07-23 08:24] samsonasik commented on #40
I've created PR #95 for it.

[2020-07-24 06:08] samsonasik commented on #23
I've created PR #97 for it.

[2020-07-24 13:07] samsonasik commented on #60
you array specs configuration to be passed to transport factory is incorrect, it should be:

[code]

I'm closing it.

[2020-07-24 17:00] samsonasik commented on #47
there is https://github.com/laminas/laminas-mail/blob/master/src/Transport/Factory.php for that. I am closing it.

[2020-07-24 17:00] #47 closed

[2020-07-24 20:43] glensc commented on #47
🚧 Never link to branches, share a permalink 🚧
- see https://news.ycombinator.com/item?id=8046710
  and https://help.github.com/articles/getting-permanent-links-to-files/
  and https://docs.gitlab.com/ee/user/shortcuts.html#project-files
- hit `y`
- and perhaps for https://github.com/josephfrazier/octopermalinker (GitHub)

[2020-07-24 23:28] samsonasik commented on #47
I am in mobile, hopefully ok now https://github.com/laminas/laminas-mail/blob/68746105bcf4ca412e2b0e358c3f6f9e7fe933b6/src/Transport/Factory.php

[2020-07-24 23:59] samsonasik commented on #36
I've created PR https://github.com/laminas/laminas-mail/pull/98 for it.

[2020-07-28 21:15] #23 closed

[2020-07-30 16:09] #39 closed

[2020-07-30 16:09] #40 closed

[2020-07-30 16:09] #63 closed

[2020-08-01 19:38] samsonasik commented on #34
i created PR https://github.com/laminas/laminas-mail/pull/101 for it.

[2020-08-01 20:20] samsonasik commented on #34
closing in favor of #101

[2020-08-01 20:20] #34 closed

[2020-08-03 00:41] samsonasik commented on #42
I am closing it since there is no code/unit test to reproduce the issue.

[2020-08-03 00:41] #42 closed

[2020-08-05 18:09] samsonasik commented on #17
I've created PR https://github.com/laminas/laminas-mail/pull/104 for it

[2020-08-05 23:27] samsonasik commented on #69
I am closing it. Please re-create a PR with specific improvement you wanted to provide.

[2020-08-05 23:27] #69 closed

[2020-08-05 23:33] #36 closed

[2020-08-05 23:38] samsonasik commented on #49
you need to provide how you use it in ESPOcrm, also, probably not an issue in this component. I am closing it, please re-create issue with reproducible code and test.

[2020-08-05 23:38] #49 closed

[2020-08-05 23:41] samsonasik commented on #16
this seems already in the doc https://docs.laminas.dev/laminas-mail/message/attachments/#multipartalternative-emails-with-attachments

I am closing it.

[2020-08-05 23:41] #16 closed

[2020-08-06 08:44] samsonasik commented on #13
I created PR https://github.com/laminas/laminas-mail/pull/105 for it.

[2020-08-06 09:41] tzmfreedom commented on #17
@samsonasik Thank you!!

[2020-08-06 11:51] glensc commented on #19
@weierophinney can you please edit the issue body to fix link, it must be `https://github.com/zendframework/zend-mail/issues/22` not `#22` in this project.

[2020-08-06 11:59] glensc commented on #18
@weierophinney please edit issue body to fix ticket link

[2020-08-06 12:03] glensc commented on #25
@weierophinney can you please edit these comments to make issue reflink accurate:
- https://github.com/laminas/laminas-mail/issues/25#issuecomment-569994527
- https://github.com/laminas/laminas-mail/issues/25#issuecomment-569994529

[2020-08-06 12:05] glensc commented on #5
@weierophinney please edit issue body to fix issue link.

[2020-08-06 14:40] #19 closed

[2020-08-06 14:40] #17 closed

[2020-08-06 14:40] #72 closed

[2020-08-07 09:26] #13 closed

[2020-09-01 10:57] MaximilianKresse commented on #25
Are there any updates on this? The original bug report is from 2018.

I'm stumbled over this bug when trying to access an automatic "Undeliverable" response from outlook.com.

Here is a small excerpt of the headers (including the two lines which seems to trigger this error):

[code]

[2020-09-16 09:05] parijke commented on #58
I have the same issue using imap instead of pop3. The above is not a solution as it skips the mails who are "in error" according to laminas-mail

[2020-09-30 13:03] enumag opened #112 "Method Part::hasHeader() does not exist"
### Bug Report

The doc comment of Part::__isset() references a nonexistent method Part::hasHeader().

https://github.com/laminas/laminas-mail/blob/4f982cfbcccdcae7ea62efd3566cd414e75e7010/src/Storage/Part.php#L380-L384

[2020-10-04 15:28] boesing opened #113 "Psalm integration"
### Feature Request

|    Q        |   A
|------------ | ------
| QA    | yes

#### Summary

As decided during the [Technical-Steering-Committee Meeting on August 3rd, 2020](https://github.com/laminas/technical-steering-committee/blob/main/meetings/minutes/2020-08-03-TSC-Minutes.md#vote-on-static-analysis-tooling), Laminas wants to implement [vimeo/psalm](https://github.com/vimeo/psalm) in all pac

[2020-10-04 17:44] boesing opened #114 "PHP 8.0 support"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

To be prepared for the december release of PHP 8.0, this repository has some additional TODOs to be tested against the new major version.

In order to make this repository compatible, one has to follow these steps:

- [ ] Modify `composer.json` to provide support for PHP 8.0 by adding the constraint

[2020-10-04 19:32] glensc commented on #114
shouldn't this be semver range: `^8.0`?

- [Tilde Version Range (~)](https://getcomposer.org/doc/articles/versions.md#tilde-version-range-)
- [Caret Version Range (^)](https://getcomposer.org/doc/articles/versions.md#caret-version-range-)

[2020-10-04 21:00] boesing commented on #114
@glensc We decided to use `~` as PHP does not 100% respect semver.

https://www.php.net/manual/de/migration71.incompatible.php
https://www.php.net/manual/de/migration72.incompatible.php
https://www.php.net/manual/de/migration73.incompatible.php
https://www.php.net/manual/de/migration74.incompatible.php

[2020-11-12 10:46] pxlcore opened #116 "No IMAP connection with PHP 7.4"
Hi,

I upgraded my Linux server Ubuntu 18.04 to 20.04.
PHP version switched from 7.3 to 7.4.

After this Upgrade I could not connetct to my mail server anymore. Parameters didn't change.

So I tried a fresh copy of laminas mail (2.12.3) on both systems (Ubuntu 18.04 -> PHP 7.3.x and Ubuntu 20.04 -> PHP 7.4).

On the old system the connection worked well.
On the new system I got the error:
[code]

[2020-11-12 14:12] malukenho commented on #116
You may try to change the `/usr/lib/ssl/openssl.conf` to allow minor versions for clients, like so `MinProtocol = TLSv1.0`.

[2020-11-12 20:44] weierophinney commented on #116
This is due to a change in the openssl library shipped with PHP 7.4; it's more strict. The solution is as you noted (disabling certificate validation when needed). I think what would be best is to document the options each of the storage adapters accepts.

[2020-11-13 06:51] pxlcore commented on #116
Thank you for your help.

The hint to OpenSSL solved my problem. I used the solution from [here](https://askubuntu.com/a/1279197).
After a server restart all worked well.

[2020-11-13 22:27] alainseys commented on #116
i would also recomend to change your ip of the host as a dns name eg: mail.laminas.com

[2020-11-20 19:48] puecher commented on #37
What about using

`const EOL = PHP_EOL;`

`const FOLDING = PHP_EOL . " ";`

in https://github.com/laminas/laminas-mail/blob/2.13.x/src/Headers.php#L30

[2020-12-06 10:05] voltan opened #118 "Dose laminas mail support amazon ses? can we add support it?"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

Over the past week, we try to use laminas mail on our project hosted on AWS ec2 servers, amazon close port 25 on all of the ec2 servers and we have to set up Amazon Simple Email Service.

I couldn't config laminas mail to use ese and I think we need new SMTP Auth

[2020-12-06 11:34] kynx commented on #118
You might want to check packagist for libraries that provide an abstraction layer over various mail services.

I’ve used https://github.com/JouwWeb/SlmMail before - it’s based on laminas/mail under the hood, which makes migration a little easier.

[2020-12-10 11:45] abulhol commented on #6
Any news on this?

[2020-12-10 11:46] Ocramius commented on #6
@abulhol if you have a reproducer (test case), that would help pinning the bug down

[2020-12-10 11:48] abulhol commented on #5
Still no progress on this issue?

[2020-12-10 11:55] abulhol commented on #6
@Ocramius I think I have described the issue in enough detail, and @weierophinney has already investigated it sufficiently (and pinned down the bug). I don't have time to write a test case, sorry.

[2020-12-10 12:04] Ocramius commented on #6
@abulhol eh, then don't expect somebody else to have time/interest in trying to reproduce the problem in their local (and then CI) environment 😞

[2020-12-10 14:40] glensc commented on #5
@abulhol it's well-known fact that zend (now laminas) developers don't bother checking the mail component for months. pinging does not help, nothing does help. unfortunately, zend mail component is unique because it parses mails, there's no replacement available, I'd ran off very far if I could from it.

see how hopeless it is:
- https://github.com/laminas/laminas-mail/pull/108

I created a fix fo

[2020-12-10 14:51] abulhol commented on #5
@glensc thanks for the heads up regarding the situation. I agree, it is very difficult to find a replacement for email parsing. Seems like there is just too little resources in this project, and PHP is losing out to other web app frameworks.

[2020-12-11 09:01] glensc commented on #6
@abulhol you can at least include a .php snippet and .txt attachment of reproducer as attachments to the pull request. be sure it shows the problem when executed standalone.

[2020-12-11 11:06] abulhol commented on #6
ok @glensc I will see what I can do, thx.

[2020-12-11 15:05] abulhol commented on #6
@Ocramius @glensc Here you go with a fully working example, please let me know if it doesn't run on your side:
https://github.com/abulhol/pop3test

[2020-12-16 11:22] abulhol commented on #6
Hey guys, I would appreciate some feedback after having made the effort to create a working example.

[2020-12-18 12:43] lfardin opened #119 "Laminas mail expects a value in the format "type/subtype"; received "image/*""
Issue detected when using GLPI Mailgate https://github.com/glpi-project/glpi/issues/8375 to get messages with attached files "image/*"

To fix this issue, the RegEx at the file "laminas-mail/src/Header/ContentType.php", line 114 should be changed to

/^[a-z-]+/[/*a-z0-9.+-]+$/i

[2020-12-18 20:30] white-helga opened #120 "Attacment has spaces in name"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.12

#### Summary

When attachment has name with spaces (example: "my new attach.pdf"), method countParts() and others methods of parts exit with error:
[ErrorException]
  str_split(): The length of each segment must be greater than zero

#### How to reproduce

 create new Imap connection, get message with attachment, wher

[2020-12-20 05:46] glensc commented on #120
@white-helga I think you should attach raw email example as text to the issue at least. so unit test could be created based on it to reproduce the bug.

[2020-12-23 10:23] warmech777 commented on #119
Hi
When I change RexEx in line 114 to /^[a-z-]+/[/*a-z0-9.+-]+$/i I start receiving new error messages
Laminas\Mail\Header\ContentType::setType expects a value in the format "type/subtype"; received "multipart/mixed"

How to fix it...?

[2020-12-23 12:22] glensc commented on #119
It's rather unclear what are you even trying to do, what is the problem in question.

[2020-12-23 12:52] warmech777 commented on #119
Sorry. I will try to add full details.
From the start I have problems when GLPI trying to receive some mails with images in attach.  This look like "Laminas\Mail\Header\ContentType::setType expects a value in the format "type/subtype"; received "image/*"" message in logs. To fix this issue, the RegEx at the file "laminas-mail/src/Header/ContentType.php", line 114 changed to /^[a-z-]+/[/*a-z0-9.+-]

[2020-12-23 14:02] glensc commented on #119
Looks like [The XY Problem](https://xyproblem.info/), you think the problem is about regex, but not described the actual problem. you need to make a reproducible scenario for a library like laminas-mail, with describing clearly what are the expectation.

you can upload the reproducer as https://gist.github.com/ or (i think) attach a .zip file to issue tracker works too. the reproducer should be st

[2020-12-23 18:05] mrjd19811 commented on #119
Could this be causing a strange side effect of our incoming email tickets being given prior ticket numbers?

[2020-12-23 18:34] mrjd19811 commented on #119
Tried the adjustment above, having same effect as warmech777

There is def something wrong in here and I think it caused my prior issues, I'm going to go look at this files history.

[2020-12-23 19:09] mrjd19811 commented on #119
I essentially just commented out 114-120, and it seems to have resolved my problems. I'll keep an eye on this thread for the proper fix.
![image](https://user-images.githubusercontent.com/71107353/103029747-13e55a00-4520-11eb-9b6d-1ce8e39ac27d.png)

[2020-12-23 19:26] mrjd19811 commented on #119
Well, this got rid of the errors in mailgate, but still having my issue of new tickets occasionally assigning to old ticket ID's. Looking else where.

[2020-12-30 17:13] braindawg opened #121 "AddressList::addFromString method not fluent"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.13.x

#### Summary

The docblock for the `AddressList::addFromString` method indicates that it should allow method chaining by returning an `AddressList`, but the method actually returns `void`.

#### Current behavior

`AddressList::addFromString` returns `void`, contrary to its docblock and the behavior of the rest of th

[2020-12-31 11:10] Ocramius commented on #121
Handled in #123

[2020-12-31 11:10] #121 closed, assigned to Ocramius, braindawg

[2021-01-18 10:27] glensc commented on #114
but then it should be "~7.3.0, ~7.4.0" too? :)

[2021-01-19 23:42] boesing commented on #114
@glensc no, because there wont be any new minor in the 7.X series and thus no need to specify these constraints.

for upcoming versions, we will handle it like this, but for 7.x, nothing will change as of now.

[2021-01-21 12:30] demiankatz opened #130 "CHANGELOG missing release 2.12.4"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | current 2.13.x branch

#### Summary

I like to review changelogs when upgrading my dependencies, but there seem to be some issues with the changelog here. I realize this is a somewhat nitpicky problem, but hopefully it is an easy fix, and will reduce confusion for others if it is fixed. Thank you!

#### Current behavior

Th

[2021-01-21 12:39] froschdesign commented on #130
@demiankatz
You can check the [release notes](https://github.com/laminas/laminas-mail/releases):

* for version 2.12.4: https://github.com/laminas/laminas-mail/releases/tag/2.12.4
* for version 2.12.5: https://github.com/laminas/laminas-mail/releases/tag/2.12.5

The release notes are created automatically via [automatic-releases](https://github.com/laminas/automatic-releases) and based on the issu

[2021-01-21 12:45] demiankatz commented on #130
Thanks, @froschdesign. Is this a change in policy? I was aware of the GitHub releases page, but in the past, the CHANGELOG.md file often contained more detailed information, so I've historically relied on it. Perhaps it would be helpful to include a link to the GitHub releases at the top of the CHANGELOG.md so those who have formed a habit of looking there can be informed of the new process.

[2021-01-21 12:47] glensc commented on #130
The changelogs automation is broken, @Ocramius is aware of it and I think he looked into it, but without final conclusion (the missing changelog was not inserted):
- https://github.com/laminas/laminas-mail/pull/125#issuecomment-752996771

[2021-01-21 12:50] froschdesign commented on #130
@demiankatz

Not yet. See: https://github.com/laminas/technical-steering-committee/blob/main/meetings/agenda.md#drop-changelogmd-from-repositories-when-it-leads-to-merge-conflicts

[2021-01-21 12:52] demiankatz commented on #130
Great, thank you for all the helpful information and backstory, @glensc and @froschdesign. Please feel free to close this issue if you feel it is unnecessary to keep open -- I'm satisfied that I understand the situation, and it sounds like the overall solution is going to be bigger than one issue in one repository. :-)

[2021-01-26 13:35] Ocramius opened #131 "Remove `--ignore-platform-reqs` flag from `composer install` in CI when running on PHP 8"
|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#117 introduces a `--ignore-platform-reqs` flag when running in CI with PHP 8 (https://github.com/laminas/laminas-mail/pull/117#discussion_r564506102): we should get rid of that flag as soon as all dependencies are up to date.

[2021-01-26 13:35] #114 closed, assigned to nobody

[2021-01-26 16:24] glensc opened #133 "[RFC]: Migrate CI from Travis to GitHub Actions"
## RFC

| Q                   | A      |
| ------------------- | ------ |
| Proposed Version(s) | x.y.0  |
| BC Break?           | Yes/No |

### Goal

Seems Travis integration is broken: Travis CI jobs not tied to PR any more. They are probably not even executed.

### Background

### Considerations

### Proposal(s)

### Appendix

[2021-01-26 16:26] glensc commented on #133
As it seems Travis integration is broken, and likely more and more problems appear from using it, is there coordinated plans across laminas projects to move to GitHub actions? Or you'll be just accepting PR's on the go? If so, are some projects already migrated? Example PR's then to get started easier.

[2021-01-26 16:27] Ocramius commented on #133
Migration to github actions is part of the TSC discussions next week: https://github.com/laminas/technical-steering-committee/blob/main/meetings/agenda.md#adopt-the-proposed-github-actions-workflow

[2021-01-26 16:27] #133 closed, assigned to Ocramius

[2021-02-13 12:18] rikvdh commented on #119
Ok, I'm bumping this issue since I've got the same situation while reading messages. It appears that 'Samsung Email on Android' generates an 'image/*' content-type for images.

Here is a link to the gist: https://gist.github.com/rikvdh/489e13b22f9012db2dcd9f5046b53e43
I think changing the regex would be the way to go as a workaround for this issue. In the end, it is an issue in the mail-client of

[2021-03-04 14:12] tempfirstuser opened #144 "Improving for html-attachment examples"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

Hi, guys! I am trying to send email as html with zend-mail. What I do to find out how to do that?

1. I am going on zend docs, find zend-email  (I already know about existing such component (also, I used Zend_Mail in zf1)) and open (I will demonstrate laminas lin

[2021-03-15 09:53] #25 closed

[2021-03-17 12:44] Slamdunk commented on #131
Some clever guy made `Laminas CI workflow` which is now merged here, this issue is superseded.

[2021-03-17 12:44] #131 closed, assigned to nobody

[2021-03-17 12:48] Slamdunk commented on #130
Changelog is now kept only within Github releases page

[2021-03-17 12:48] #130 closed, assigned to nobody

[2021-03-24 12:28] rikvdh opened #146 "Strict validation must be able to be turned off"
### Bug Report

I'm using this library for parsing mails in different mailboxes for a ticketing system. While reading mail from mailboxes I face all kinds of "invalid" mails. Malformed headers, malformed e-mail addresses, invalid mime-types for multi-part mails, invalid subjects (containing non ASCII characters). But, the most important thing is, I want to recover as much as I can from these messa

[2021-03-25 07:30] Slamdunk commented on #146
Hi, this seems to me more of an Enhancement than a Bug.
Please send me an example email to my address (you can find it [here](https://github.com/laminas/laminas-mail/commit/944c86560f85ea1fb038a7246a807eab4dc55ece.patch)) so I can purge it from sensitive information and post it here as an example.

If you have more than one failing emails with different error, send me all of them in a zip please.

[2021-03-25 09:17] glensc commented on #146
@Slamdunk it's really not that you need a specific email, figure what ever invalid crap, and try to load it.

I'm Eventum, I've created a separate loader for this, it tries to split headers in different ways (`\r\n`, `\n`, `\r` and combination), also renames the broken headers to `X-Broken`, but at least finishes loading the mail.

It took several iterations to get where it is now because people a

[2021-03-25 09:18] glensc commented on #146
@rikvdh as for email privacy, obfuscate them in the sense that it doesn't lose the value. usually not needed the exact value of the mail line. for mime body base64 parts, you can replace the content with `base64_encode('test')` or the like.

[2021-03-26 12:21] rikvdh commented on #146
@glensc @Slamdunk I shall try to find them next week or so, obfuscate them en upload them here. :-)

@glensc Having a 'external mail loader' is an option. But I think it should be nice to have this feature included into 'mainline'.

[2021-03-26 16:36] glensc commented on #146
@rikvdh please also include a minimal code how you load emails.

[2021-04-02 15:26] gennadiylitvinyuk commented on #86
@marcomarsala Does that solve your problem?

[2021-04-03 14:18] gennadiylitvinyuk commented on #85
Hello @yunluo989

You can use `addPart()` method in a loop:

[code]

[2021-04-03 14:26] gennadiylitvinyuk commented on #113
I think composer.lock should be deleted from repository. This is a library at the end...

[2021-04-03 18:02] boesing commented on #113
It is, but we decided to have it available for QA checks like codestandard and psalm as these libraries constantly detecting new stuff in newer versions when these are being updated during CI.

So instead of locking these libraries with specific versions we rather want to add `composer.lock` instead.

[2021-04-06 06:24] froschdesign commented on #85
@froschdesign
See also in the forum: https://discourse.laminas.dev/t/multiple-attachment-with-laminas-mail/2227

[2021-04-06 06:24] #85 closed

[2021-04-06 06:54] Slamdunk commented on #113
Ok, thanks to @gennadiylitvinyuk the main goals are achieved.
An initial cleanup is still missing tough.

[2021-04-07 09:23] boesing commented on #113
@Slamdunk Features are not targeted against Patch releases. Maybe you accidentally added 2.14.1?

[2021-04-07 09:27] Slamdunk commented on #113
To me, MINOR releases are for consumer features, not internal improvements ones.
https://github.com/laminas/laminas-mail/pull/147 added zero consumer features, and zero internal improvements, btw.
Right now there are tons of static type bugs that we've drowned into `psalm-baseline`, and if and when someone have the willing to fix them, they'd go into a patch release, not a minor one, wdyt?

[2021-04-07 09:40] Ocramius commented on #113
@Slamdunk if it's not a bugfix, it's already into the next minor: chore work is improvement, even if it has little impact downstream :muscle:

EDIT: to clarify further - only bugfixing in patches, nothing else. Keep patch releases as-stable-as-possible, including potential new artifacts, dev dependencies, etc.

[2021-04-07 09:41] Slamdunk commented on #113
Ok then, sorry :pray:

[2021-04-12 10:30] victorannunzi commented on #64
Hello, I wanted to know if there are updates here, I'm having the same issue. I'm iterating through an inbox  and getting some errors couse of parsing garbage, like
`'in.hostname.it>' is not a valid hostname for the email address` or ` The input exceeds the allowed length`.
Is there a way to let laminas be less strict?

[2021-04-12 10:42] victorannunzi opened #148 "non-strict validation flag or mode for reading mails from remote server"
Hi, I'm using Laminas Mail for a project and it would be great to be able to set a non strict validation mode for mails. Since I get them from an inbox I have no control over them and get many errors when using `$mail->getMessage($n)`. The errors don't offer many information about what the problem was, all I get is :
`The input exceeds the allowed length` or `Invalid header value detected` . I'm p

[2021-04-12 10:49] Slamdunk commented on #148
I guess this is duplicate of https://github.com/laminas/laminas-mail/issues/146

[2021-04-12 10:53] froschdesign commented on #148
And this #64

[2021-04-12 10:56] victorannunzi commented on #148
@Slamdunk Thank you

[2021-04-12 10:57] #148 closed, assigned to nobody

[2021-04-12 11:54] glensc commented on #64
I guess this is duplicate of #146

[2021-04-12 11:54] glensc commented on #148
can you also close https://github.com/laminas/laminas-mail/issues/64 and point to https://github.com/laminas/laminas-mail/issues/146

[2021-04-12 17:40] svaningelgem commented on #64
@glensc: I think you meant this is duplicated by #146? Because how can an earlier ticket be a duplicate of a later one? ;-)

[2021-04-12 17:47] glensc commented on #64
@svaningelgem there's no requirement to keep the oldest ticket alive, they duplicate each other, and as the #146 has the most meaningful content, I'd keep that open.

Also, the #64 issue content is from the year 2016, carried over from the previous zend-mail, unlikely the reporters be around to support additional questions or testing.

[2021-04-12 17:51] glensc commented on #64
#146 has a solution on how the problem could be handled:
- https://github.com/laminas/laminas-mail/issues/146#issuecomment-806490974

I guess nobody is motivated deeply enough to carry over the code from there to this repo.

[2021-04-13 06:51] glensc commented on #146
@rikvdh perhaps add Storage\Message to the title to limit scope of reading messages from storage systems (imap, pop3)

[2021-04-27 09:58] rikvdh commented on #146
It took a while, sorry for that. @glensc I really don't load emails myself, I use IMAP and call the `getMessage($id)` method on the `Storage\Imap` class. But for the sake of completeness I've uploaded an example on how to load to Gist. Sorry for the idiotic GIFs in the message, I have no control of what people send us and don't want to alter the email too much.

https://gist.github.com/rikvdh/c6d3

[2021-05-13 19:36] vjainsugar commented on #146
We've been running into this problem too where Laminas throws exceptions for things like malformed headers. We would prefer to just get as much of the email as we can since we can't control what the sender sends. We've found that email clients like gmail and outlook accept these emails and display whatever they can. Would there be a way through configuration to disable throwing exceptions (and ins

[2021-05-15 05:39] Slamdunk commented on #146
Hi, sorry for the late reply.
This is indeed an issue that would involve a lot of added flags to turn off validations, and with no guarantee that the new code has valid behavior.
Note that I'm also the maintainer of [ddeboer/imap](https://github.com/ddeboer/imap) so I also face a lot of invalid mails and know the issue.
@glensc indeed use in Eventum an effective approach.

I have a quick and extra

[2021-05-18 18:30] Zenexer opened #152 "Headers#has() can return true when it should return false"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | HEAD (2.15.x)

#### Summary

`Laminas\Mail\Headers#has()` will return `true` for some values when it should return `false`

#### Current behavior

If a `Headers` instance contains a header with key `'00'`, `$headers->has('00000')` will return `true`.

#### How to reproduce

[code]

#### Expected behavior

[code]

[2021-05-19 08:08] Xerkus commented on #152
This is an egde case coming from the fact that php converts numeric strings in array keys to integers. It is a won't fix on php bug tracker and there is no practical alternative to php arrays.

There are no valid numeric headers in use, afaik, and for the reason above this one is likely to stay a won't fix.

[2021-05-19 09:39] glensc commented on #152
To my knowledge PHP 8.0 changed the behavior on this, so it's fixed with PHP 8.0, also, I believe enabling strict mode will also make compares strict.

[2021-05-19 09:57] Xerkus commented on #152
@glensc  https://3v4l.org/NBsYl No it didn't. It is still a major headache with strict types enabled with keys changing type.

However, I see that `0000` or `0001` does not change, so this is unrelated non-strict comparison bug here that is actually fixable.

[2021-05-19 15:17] Zenexer commented on #152
@glensc I'm testing exclusively with PHP 8.0.5 and strict mode enabled.

[2021-05-19 15:18] Zenexer commented on #152
Also, this is a pretty easy fix: just pass `true` as the third parameter to `in_array`.

[2021-05-19 15:34] Zenexer commented on #152
Ignore that commit; I'm working on a properly-signed PR with unit tests.

[2021-05-20 04:02] #152 closed, assigned to nobody

[2021-05-22 21:01] kilixn opened #156 "No connection via IMAP / Mail recieving"
Hey there,

I'm working on a webmail program and want to use laminas-mail to display the mails.
I wrote a test program :

[code]

And installed it via composer at /html where the PHP file is.

The only thing that is displayed is the "test". And there is no "feedback" or displaying any information on the laminas / Imap connection.
The logs of IMAP don't show any connection.

Just wanted to ask if a

[2021-05-24 07:56] dennybrandes commented on #156
try to enable error messages. Just add at line 2:
error_reporting(-1);
ini_set('display_errors', 1);

[2021-05-27 16:33] gpibarra opened #157 "Support attachment format Microsoft TNEF"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

Incorporate support to detect attachments "winmail.dat" (application / ms-tnef) and decode the files. For example https://github.com/QualityUnit/TNEFDecoder

[2021-06-17 22:34] rarog opened #158 "Error 500 with uncaught Laminas\Mail\Protocol\Exception\RuntimeException"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.14.1

#### Summary

I get the error despite trying to catch the most generic Mail RuntimeEception when SMTP password is wrong.

#### Current behavior

[Thu Jun 17 23:36:56.305549 2021] [php7:error] [pid 18844] [client 127.0.0.1:55284] PHP Fatal error:  Uncaught Laminas\\Mail\\Protocol\\Exception\\RuntimeException: Could n

[2021-07-05 14:33] rarog commented on #158
It seems, that a connection error that otherwise would be caught by by the catch block will raise another error, when the object is destroyed and trying to disconnect. So far I found a workaround, that isn't beautiful and should either be fixed during destruction or otherwise be documented.

[code]

[2021-07-06 04:50] Slamdunk commented on #158
See:

1. https://docs.laminas.dev/laminas-mail/transport/smtp-authentication/#smtp-transport-usage-for-servers-with-reuse-time-limit (https://github.com/zendframework/zend-mail/pull/117)
1. https://github.com/Slamdunk/zend-mail-extensions/blob/master/lib/Protocol/TimeKeeperSmtpProxy.php

[2021-07-06 04:50] #158 closed, assigned to nobody

[2021-07-09 06:07] rarog opened #160 "Protocol/Smtp/Auth classes have different signature than parent class"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.14.1

#### Summary

All classes in Protocol/Smtp/Auth have less strict signature than parent class without profiting from it.

#### Current behavior

Current signature is `public function __construct($host = '127.0.0.1', $port = null, $config = null)` while Protocol/Smtp has the signature `public function __construct($hos

[2021-07-16 10:45] abulhol commented on #64
+1 Facing this issue with Gmail

[2021-07-16 10:46] abulhol commented on #6
ping

[2021-07-16 10:46] abulhol commented on #5
ping

[2021-08-02 21:48] rarog opened #161 "Wrong phpDoc for AbstractProtocol::_expect"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.14.1

#### Summary

The phpDoc suggests string|array as type of parameter $code, while all calls are int or array of int

#### Current behavior

All calls of _expect are done with int or array of int. This is then implicitly converted by call of in_array without $strict parameter with previously processed string via preg_

[2021-08-02 21:49] Ocramius commented on #161
Could you point to a code fragment (absolute URI) please?

[2021-08-02 21:57] froschdesign commented on #161
https://github.com/laminas/laminas-mail/blob/ee318f54ca9d9d475acfea074e8077e56c5198bc/src/Protocol/AbstractProtocol.php#L310-L321

[2021-08-09 04:09] khangzoro97 commented on #30
kkk

[2021-08-09 04:10] khangzoro97 commented on #30
i dont know how to connect via TLS , it's very difficult.

[2021-08-09 07:50] Ocramius commented on #30
Closing here as per https://github.com/laminas/laminas-mail/issues/30#issuecomment-569994577

These errors are raised at lower level, and `laminas/laminas-mail` is just raising the exception, and making them visible.

[2021-08-09 07:50] #30 closed

[2021-08-18 14:08] Fahl-Design opened #162 "[BUG] [PHP8] "Sendmail" Transport - Mailencoding is broken after php core fixes"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.14.X + 2.15.X
| PHP |  >= 8.0

#### Summary

PHP Core fixed a bug in php ( https://bugs.php.net/bug.php?id=47983 ) which expectes mail content to contain CRLF line endings

#### Current behavior

https://github.com/laminas/laminas-mail/blob/ee318f54ca9d9d475acfea074e8077e56c5198bc/src/Transport/Sendmail.php#L123-L128

Lin

[2021-08-20 16:52] Fahl-Design commented on #113
Hi, pslam fails my fix for #162 ( #164 ) on `2.14.x` because `laminas-db` is only suggested in `laminas-validator` package

[2021-09-15 12:58] FredVH commented on #119
The regex should be

`/^[a-z-]+\/[\*a-z0-9.+-]+$/i`

instead of

`/^[a-z-]+\/[/*a-z0-9.+-]+$/i`

as suggested on https://github.com/glpi-project/glpi/issues/8375#issuecomment-746257214

[2021-09-20 20:02] #162 closed, assigned to nobody

[2021-09-20 20:03] weierophinney commented on #162
Fixed with 2.14.2.

[2021-09-21 14:34] #113 closed, assigned to nobody

[2021-09-21 15:45] n2diving-dgx opened #168 "Update from 2.14.1 to 2.14.2 breaks Magento 2.4 using external SMTP"
Upon composer update from 2.14.1 to 2.14.2 (and later 2.15) attempts to send mail via external SMTP server using Magento 2.4 fails with sendmail timeout.   Forcing a composer downgrade back to 2.14.1 resolves the issue.

[2021-09-21 15:47] Ocramius commented on #168
See #167 - if you can provide a failing test case, I'll gladly merge+release that patch

[2021-09-21 15:48] n2diving-dgx commented on #168
see  https://github.com/laminas/laminas-mail/pull/167

[2021-09-22 06:42] wilfriedwolf opened #169 "Error in AbstractProtocol.php prevents sending via SMTP"
Hi there,
Since release 1.14.2 the timeout check is inverted leading to time out errors where the SMTP connection is functional.
See:

https://github.com/laminas/laminas-mail/blob/d219bfdc2677cbf89de9d1c622185f1c5f1f6fbe/src/Protocol/AbstractProtocol.php#L293

Please correct. Shall I make a PR? Not quite shure why

[code]

was changet to

[code]

that would probably do, if `$data['time_out']` is a

[2021-09-22 06:43] Slamdunk commented on #169
Hi, fix is already in progress in https://github.com/laminas/laminas-mail/pull/167

[2021-09-22 06:43] wilfriedwolf commented on #169
Well I just realize it is a duplicate of #167, should have written it already yesterday.. Thanks anyhow. Workaround is to fix the version to 2.14.1 :)

[2021-09-22 06:44] #169 closed, assigned to nobody

[2021-09-22 09:54] ste80pa commented on #168
Hi!

i found that https://github.com/laminas/laminas-mail/blob/2.16.x/src/Protocol/AbstractProtocol.php#L293 does not handle correctly the metadata returned from https://www.php.net/manual/en/function.stream-get-meta-data.php.

i suggest to change the line 293 to

[code]

[2021-09-22 09:57] Ocramius commented on #168
@ste80pa did you look at #167?

We need a test case, then it can be merged/tagged.

[2021-09-22 12:18] flavioamello commented on #168
Same issue here on Magento.
Looks like #167 fix the issue, as I did this fix locally and worked.

[2021-09-22 15:39] CreativeNative commented on #168
I have the same issue. Get a time-out on my smtp. Please provide a fix asap.

[2021-09-22 15:40] Ocramius commented on #168
@flavioamello @CreativeNative as I already asked above: please provide a failing test case, and then the fix shall be merged + released :-)

[2021-09-22 16:09] CreativeNative commented on #168
Actually, we don't have time to fix your problems or write tests for your code. I downgraded now to version 2.14.1. This resolves the problem.
Have a look on your changes and try to get better tests. Laminas is a really awesome framework, but these problems affect a lot of people who trust that your code works. I missed an inquiry, but luckily they contacted me via email and told me that we have a

[2021-09-22 16:24] Ocramius commented on #168
That's really just up to anyone who can investigate the issue - I'm not really sure how to verify it, but it seems like a lot of people in this thread experienced the issue first-hand (and can help + have a "skin in the game"), and the regression precisely happened because of a lack of tests around that code location.

All I can do myself personally is try doing a fix over the next free weekend in

[2021-09-22 16:26] Ocramius commented on #168
It seems like everyone had time to investigate the problem and complain about it though? There seems to be a deep misunderstanding of how open source works, since this is not "my" problem (I don't use this component myself, at this time), but rather your problem.

Related: https://github.com/github/feedback/discussions/5709

[2021-09-22 16:41] CreativeNative commented on #168
We don't have time to investigate. Our customers have brought this error to our attention and if it has already come this far, something went horrible wrong. This is not a good publicity for Laminas.

And I don't know if you are a hired developer from the Linux Foundation or a free developer who supports this Framework. So don't get me wrong. I don't blame you.

[2021-09-22 16:43] Ocramius commented on #168
There is no publicity, this is an OSS library :O

What the hell is wrong with you people? When did you start thinking this is a paid support tracker?

Anyway, if the convo continues that way, I'll lock the thread, and will only react to a patch **WITH FAILING TEST CASE BEFORE CHANGES, AND PASSING AFTER CODE CHANGES**.

[2021-09-22 16:44] yivi commented on #168
@CreativeNative If you find this work created by volunteers (for which you paid exactly zero before using it to earn money with your clients) lacking, just use something else. Or, you could try creating your own. Or you could try helping fixing the issue instead of just berating the maintainers of the FREE library you are profiting from.

[2021-09-22 18:27] zepgram commented on #168
@CreativeNative, I have the same issue on magento 2.4.1 and we were able to detect it with our functional testing.

![446](https://user-images.githubusercontent.com/16258478/134400690-4e226dd2-b47f-44a0-972a-42b93fe634b7.png)
Dont' blame external package if you are not able to provide quality gates for your clients.

[2021-09-22 23:00] teodorpav commented on #168
Works great!!!
Thank you!!!

[2021-09-23 02:20] ghost commented on #168
Work for me. Thank you.

[2021-09-23 04:31] perfpcs opened #170 "Laminas Mail 2.15 breaks SMTP in Magento 2.4.3"
### Bug Report

This new version that fully breaks Magento 2.4.3 SMTP??

How can you guys release something like this that fully breaks Magento 2.4.3 SMTP?? I confirmed its this version by rolling back older version and now all mails send again fine.

#### Current behavior

Doimg the SMTP test in Admin this extension causes SMTP on port 465 SSL to time-out. Even though it times out it sends messag

[2021-09-23 04:53] perfpcs commented on #170
![image](https://user-images.githubusercontent.com/22109696/134456278-94b158d9-9bb0-4897-85ed-7a19c51f9913.png)

[2021-09-23 04:54] perfpcs commented on #170
![image](https://user-images.githubusercontent.com/22109696/134456328-ddc98e88-0f00-49d0-a33d-dfdeaa317b10.png)

[2021-09-23 04:55] perfpcs commented on #170
older version:

![image](https://user-images.githubusercontent.com/22109696/134456500-57d7223f-5b91-42de-9213-4384dddbe8e3.png)

[2021-09-23 06:09] Slamdunk commented on #170
Duplicate of #168

[2021-09-23 06:09] #170 closed, assigned to nobody

[2021-09-23 07:19] Slamdunk commented on #168
Solved in https://github.com/laminas/laminas-mail/pull/167

[2021-09-23 07:19] #168 closed, assigned to Slamdunk

[2021-09-23 08:58] Ocramius commented on #168
Good work, @Slamdunk! :+1:

[2021-10-04 14:10] psiodmak opened #173 "Incorrect header parsing"
### Bug Report

The subject header is parsed in the wrong way when base64 encoded and split into two in the middle of a multibyte character.

|    Q        |   A
|------------ | ------
| Version(s)  | ?

#### Summary

When a subject is split in two in the middle of a multibyte character and base64 encoded, the parsed subject is incorrect. Sorry for a messy report, I just installed this library thr

[2021-10-05 12:03] psiodmak commented on #173
Unfortunately this looks like a bug in PHP:

[code]

sorry about that.

[2021-10-05 12:03] #173 closed, assigned to nobody

[2021-11-04 15:59] mbaumgartl opened #175 "ext-intl must be required in composer.json"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.15.1

#### Summary

I updated laminas/laminas-mail in a small application. Afterwards I could not send emails.

#### Current behavior

This component generates a fatal error:

[code]

I think it was introduced in d75a9b29f3ad1bb6ab0e3c58e01bc5f48721e69c.

#### How to reproduce

[code]

#### Expected behavior

Headers shou

[2021-11-05 01:05] ghostwriter commented on #175
hey @mbaumgartl, thanks for reporting this issue.

I believe`ext-intl` is **NOT** required in `composer.json` because
we use [`true/punycode`](https://github.com/true/php-punycode) when `ext-intl` is not loaded.

the fatal error you experienced was caused by:
 "**Undefined constant** `Laminas\Mail\Header\IDNA_ERROR_EMPTY_LABEL`".

this means we need to `define()` the required constants
when `ext-i

[2021-12-22 23:12] mjac1521 opened #177 "issue fetching email"
#### Summary

I have an email account with more than 15 000 emails in the Sent folder. I create a web interface similar to gmail using Laminas IMAP to fetch the emails from postfix wish use Dovecot to serve the IMAP service.

#### Current behavior

When I try to access the folder Sent in my interface it take more than 1 minute to show me the emails. I am using pagination so to show me the email in

[2021-12-23 07:50] froschdesign commented on #177
@mjac1521

Unfortunately we don't know your code, so it would be helpful if you could show us how your query / pagination looks like.

[2021-12-23 14:57] mjac1521 commented on #177
Hi Frank,

Thank you so much in advance for taking care of this so sun.
Please find bellow the code we use to get the email and do the pagination

[code]

Sincerely Maykel

[2021-12-23 15:53] Ocramius commented on #177
From your logic, I can see that `AbstractStorage#offsetGet($j)` will be called:

https://github.com/laminas/laminas-mail/blob/b9c896edfe4e076440fb6427c47f6164ec4a2424/src/Storage/AbstractStorage.php#L211-L221

That will in turn go to `Imap#getMessage()`:

https://github.com/laminas/laminas-mail/blob/b9c896edfe4e076440fb6427c47f6164ec4a2424/src/Storage/Imap.php#L104-L122

Could it be that counting

[2021-12-24 00:59] mjac1521 commented on #177
Hi Marcos,
Thank you for your help.  Is like you said the issue should be counting so many emails, I have accounts with a couple of emails and those accounts work perfect.

Sincerely Maykel

[2021-12-24 01:02] Ocramius commented on #177
Right, what I'm asking for is if you can design an integration test for the `laminas/laminas-mail` test suite 😁

We can't design this for you, given availability of contributors.

[2022-01-17 08:51] #175 closed, assigned to nobody

[2022-02-11 04:19] DigitalCyberSoft opened #179 "Can't set \Unseen flag"
Current requests for the body of an IMAP message don't perform a .PEEK request. As a result I've tried (along with a few variations)

$conn->setFlags($uid, ['\Unseen']);

Result is Exception:  cannot set flags, have you tried to set the recent flag or special chars?

Setting a message as \Seen works fine.

Alternatively I overrode getRawContent to perform a RFC822.TEXT.PEEK rather than RFC822.TEXT

[2022-02-18 21:11] boesing opened #180 "[RFC]: UTF-8 (SMTPUTF8) support"
## RFC

| Q                   | A      |
| ------------------- | ------ |
| Proposed Version(s) | 3.0.0  |
| BC Break?           | Yes |

### Goal

Providing proper UTF-8 support for `laminas-mail`.
Would fix #71
Would fix #67
Would fix #57

### Background

I've found myself working on a fork from `Zend_Mail` which was basically created to allow UTF-8 characters when parsing E-Mails from string. M

[2022-03-07 18:40] smsalert-mobi commented on #59
Any news on this ? Patch? Workaround ?

[2022-03-07 18:45] Ocramius commented on #59
@smsalert-mobi send one 👍

[2022-03-08 07:16] coder-pm commented on #59
please set encoding: https://docs.laminas.dev/laminas-mail/message/character-sets/

[2022-03-08 07:17] coder-pm commented on #59
@smsalert-mobi please set encoding: https://docs.laminas.dev/laminas-mail/message/character-sets/

[2022-03-08 11:01] smsalert-mobi commented on #59
you can't when using IMAP / POP3 this fails as soon you are trying to iterate over inbox

a workaround is not to Iterate over imap / pop3 (built in) and do a for loop, this way you can use try / catch per message and ignore the "invalid" ones.

       $mail = new Imap([
            'host'     => '',
            'user'     => '',
            'password' => '',
            'ssl'      => 'ssl',

[2022-03-26 12:58] hassanas opened #184 "Uncaught Exception: Warning: fwrite(): SSL operation failed with code 1."
Magento 2.4 is using this module facinf error while sending success email:

`error:1420C0CF:SSL routines:ssl_write_internal:protocol is shutdown in /app/vendor/laminas/laminas-mail/src/Protocol/AbstractProtocol.php on line 253 in
 /app/vendor/magento/framework/App/ErrorHandler.php:61`

Stack trace:
[code]

[2022-03-26 17:59] Ocramius commented on #184
Closing: as the error suggests, this is a problem with SSL and connection reliability between your systems.

[2022-03-26 17:59] #184 closed, assigned to Ocramius

[2022-03-29 19:17] NIitrix commented on #179
same issue here!

[2022-03-29 21:09] NIitrix commented on #179
I found a way to do it, you need to use the parameter $mode ('+' and '-')  in function store in class Imap located here vendor/laminas/laminas-mail/src/Protocol/Imap.php

[2022-04-01 07:15] DigitalCyberSoft commented on #179
Cheers for that. Seem like there should be a way to get to that from setFlags

Anyway, workaround code:

[code]

To be run after anything like getMessage() or getRawContent()

[2022-04-01 15:37] NIitrix commented on #179
Yep! that will do the job.

[2022-05-04 08:01] david-strejc opened #185 "Self signed cert not supported"
At line:

` 61     private function prepareSocketOptions(): array`

in src/Protocol/ProtocolTrait.php

there is no way to set:

` 'allow_self_signed' => true,`

And this means there is no way to support self signed certs.

Is there a way how to implement this?

[2022-05-04 08:02] Slamdunk commented on #185
Have a look at https://github.com/laminas/laminas-mail/blob/1ee1a384b96c8af29ecad9b3a7adc27a150ebc49/src/Protocol/ProtocolTrait.php#L40

[2022-05-04 08:04] froschdesign commented on #185
See also in the documentation:

https://docs.laminas.dev/laminas-mail/read/#using-remote-storage-protocols

[2022-05-04 08:41] david-strejc commented on #185
Yes this is of course true but there is missing:

`                'allow_self_signed' => true, `

This line here:

`
    private function prepareSocketOptions(): array
    {
        return $this->novalidatecert
            ? [
                'ssl' => [
                    'verify_peer_name' => false,
                    'verify_peer'      => false,
                ],
            ]
            :

[2022-05-04 08:59] froschdesign commented on #185
Ah, it's a feature request.

[2022-05-04 12:31] EC2311 opened #186 "Laminas-mail : running behind Proxy"
Hello

We use a product which uses laminas-mail.
This product is configured with a proxy to reach internet : ok

We don't succeed to use laminas-mail with the proxy.
I tried to update the protocoltrait.php , But I don't suceed
![image](https://user-images.githubusercontent.com/42341169/166683309-86c21c46-b7ed-4817-9865-c3b168995a5d.png)

![image](https://user-images.githubusercontent.com/42341169/

[2022-05-09 07:33] EC2311 commented on #186
Hello

Nobody has this problem neither a solution/help ?
Thanks
Best regards

[2022-05-12 12:13] froschdesign commented on #186
@EC2311

I don't have the problem and unfortunately don't know any solution. Please try to ask in the [chat](https://getlaminas.org/participate/).

[2022-05-13 06:53] EC2311 commented on #186
hello @froschdesign

OK, so how can I find the real problem, if it's not linked to firewall ?
I can access to outlook.office365 using navigator on the server, so for me firewall rules are ok... but perhaps not fully ?

what are yours advises ?

[2022-05-13 10:06] Ocramius commented on #186
Closing here: this issue is not related with this package, but rather with your network setup.

You should probably just allow outbound traffic on port 993.

[2022-05-13 10:06] #186 closed, assigned to Ocramius

[2022-06-02 11:06] soleuu opened #187 "pop3 error message too generic 'last request failed'"
### Bug Report
Hello,

Pop3 error are generic and hide real error messageand are difficult to debug.

|    Q        |   A
|------------ | ------
| Version(s)  | all (since ZF1 to latest laminas version 2.17.0)

#### Summary

I was having problem with some pop3 authentication and was unable to see real error message without patching some Laminas file.
I needed error message send by pop3 server. Lam

[2022-06-02 11:57] Ocramius commented on #187
@soleuu send a patch: can certainly be included in here :-)

Important: needs an automated test too.

[2022-07-08 15:48] francescobianco commented on #1
Hi @weierophinney @EvanDotPro @akrabat I'd start a project to support a full tested version of PHP IMAP library with support for OAUTH. Please take a look to this post https://github.com/ddeboer/imap/issues/443#issuecomment-1172158902

[2022-07-11 10:58] cedric-anne opened #188 "Cannot list folders when a folder contains `"`"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.16.0

#### Summary

When a folder contains `"` at the end of its name, the `Laminas\Mail\Storage\Imap::getFolders()` method fails due to an infinite loop in `Laminas\Mail\Protocol\Imap::decodeLine()`.

#### Current behavior

Here is an extract of the request/response stack.
[code]

The directory that contains `"` is retur

[2022-07-13 13:14] bouks opened #189 "Doc sending-multiple-mails example error"
### Bug Report

Documentation issue

#### Summary

The example https://docs.laminas.dev/laminas-mail/transport/smtp-multiple-send/#sending-multiple-mails-per-smtp-connection_1
Should replace recipient instead of accumulate them in the "To" header.

#### Current behavior
It adds recipient.

**`$message->addTo($address);`**

So, if 10 recipients, the first recipient, for example, will receive 10 tim

[2022-07-13 13:18] Ocramius commented on #189
Hey, could you send a patch to change the docs directly? It's this document in this repo: https://github.com/laminas/laminas-mail/blob/2.17.x/docs/book/transport/smtp-multiple-send.md

[2022-07-13 13:41] bouks commented on #189
@Ocramius
Done. :)

https://github.com/laminas/laminas-mail/commit/8527a05fe5102572544a262bfa8d2ae8df14e67b

[2022-07-13 13:45] bouks commented on #189
@Ocramius
Sorry, i forgot to remove
` // to doc reviewer : since PHP 5.4`

[2022-07-13 14:04] #189 closed, assigned to nobody

[2022-07-20 18:31] renovate[bot] opened #194 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update all non-major dependencies](../pull/261) (`php`, `psalm/plugin-phpunit`)
 - [ ] [Update Laminas packages (m

[2022-07-22 14:33] griesi007 opened #197 "Add OAuth support"
Microsoft Office365 / Exchange Online will finally turn off current BasicAuth standard authentication for POP3 on 2022/10/01. From then on only XOAUTH2 is supported for POP3. Also Microsoft is already switching "Basic Auth" off for certain exchange online instances.

It would be great if Laminas Mail could support POP with XOAUTH2

[2022-07-22 14:35] Ocramius commented on #197
Send a patch 👍

[2022-07-22 14:41] griesi007 commented on #197
@Ocramius yes that´s what I am currently planning.

[2022-07-28 09:08] griesi007 commented on #197
@Ocramius Just provided a pull request.

[2022-07-28 09:10] Ocramius commented on #197
Keeping this open until feature actually landed

[2022-07-28 11:55] Ocramius commented on #197
Closing as `Won't fix` as per https://github.com/laminas/laminas-mail/pull/199#discussion_r932123007

[2022-07-28 12:30] Slamdunk commented on #197
#199 has been correctly rejected as contributor is not going to fulfil this library requirements, but OAuth support needs to land here eventually, both in IMAP/POP and SMTP protocols

OAuth2 has no specific binding to Microsoft, it's just the first major email provider to ban other auth mechanisms:
https://techcommunity.microsoft.com/t5/exchange-team-blog/basic-authentication-deprecation-in-exchan

[2022-07-28 12:32] Ocramius commented on #197
Works for me :+1:

[2022-07-28 12:40] griesi007 commented on #197
@Slamdunk Your comment "OAuth2 has no specific binding to Microsoft" is not completely true. The POP3 XOAUTH procedure is done differently by Micrsoft than by Google. With Microsoft it is a 2 step process requiring first a "AUTH XOAUTH2" request beeing sent and afterwards a separate request providing the XOAUT2 string. Google does that in one request

https://docs.microsoft.com/de-de/exchange/clie

[2022-07-28 12:55] griesi007 commented on #197
@Slamdunk if you have any idea how the mandatory test for the proposed pull request #199 of class Microsoft.php could look like I am still willing to provide that. But currently I am lost, because in my eyes it is untestable as long as the base POP3 class is as it is

[2022-08-08 15:30] jbostoen opened #205 "Support to add or remove flag(s) on a message"
### Feature Request

Allow this method to specify which flags need to be added or removed:
https://github.com/laminas/laminas-mail/blob/bf7504247d5a110d941efa8eb4815f5292a8dc56/src/Storage/Imap.php#L550

It seems to be available through the storage, but not on the message? Is this a limitation or just not implemented (yet) for some reason?

|    Q        |   A
|------------ | ------
| New Feature

[2022-08-09 13:26] jbostoen opened #206 "Adding custom IMAP options"
### Feature Request

Possibility to specify IMAP options, such as these specific ones to connect to a shared Microsoft Office 365 mailbox (user, authuser): https://github.com/ddeboer/imap/issues/393

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

[2022-08-09 13:32] Ocramius commented on #206
Is there an OSS system that we can use to test something like that in an integration/e2e scenario?

[2022-08-10 14:02] Slamdunk opened #207 "[CI] Add testing against real services"
This library has never been tested in CI over external services for Storage protocols, nor for SMTP one.

[`ddeboer/imap`](https://github.com/ddeboer/imap) for example [sets up a Dovecot instance](https://github.com/ddeboer/imap/blob/master/.github/dovecot_install.sh) to test IMAP calls.

Dovecot would be useful since it supports both IMAP and POP3, and many authentication mechanism, including for

[2022-08-14 13:13] cbichis opened #209 "Invalid header value detected - for diacritics"
### Bug Report

2.10.0

#### Summary

It seems Laminas mail has issues with diacritics, at least within TO header.

#### Current behavior

2022-08-14T15:51:00+03:00 ERR (3): Invalid header value detected {"file":"/project/vendor/laminas/laminas-mail/src/Header/HeaderValue.php","line":107,"trace":"[{\"file\":\"/project/vendor/laminas/laminas-mail/src/Header/AbstractAddressList.php\",\"line\":183,\"

[2022-08-17 15:40] jbostoen commented on #206
Unfortunately I'm personally not a company administrator, so I can't give the necessary permissions since I'm testing myself against a third party's environment.

[2022-08-17 15:44] Ocramius commented on #206
The idea is to test it inside github actions, in a system we can start/stop ourselves.

Introducing an adapter for a proprietary tool that doesn't have a way to be checked is really a no-go, from my PoV.

[2022-08-17 15:45] jbostoen commented on #206
I'm unaware if other OSS systems have similar IMAP options, might investigate it.

[2022-08-17 15:56] jbostoen commented on #205
I dug around a bit and stumbled upon this comment: https://github.com/laminas/laminas-mail/issues/179#issuecomment-1085521057

Is there a reason the "protocol" is protected? If so, would a PR be accepted which introduces this `getProtocol()` method natively? Or is even in the long term the only proper way to go to create a custom class?

[2022-08-17 16:00] Ocramius commented on #205
In general, exposing internals increases the API surface, and therefore removes flexibility in upgrade/refactoring and increases the likeliness of breaking changes.

What is the use-case for exposing `getProtocol()`?

[2022-08-17 16:05] jbostoen commented on #205
I'm porting some code which was using a different IMAP implementation that didn't support OAuth 2.0. There, in some cases, it turned out the IMAP "deleted" flag was accidentally set.

So before processing this IMAP folder, I just added a bit of code which removed the "delete" flag. Basically it would do the opposite of this method: https://github.com/laminas/laminas-mail/blob/bf7504247d5a110d941ef

[2022-08-17 16:18] Ocramius commented on #205
Well, the protocol is given at creation time, so you should be able to get an instance without asking it to the storage:

https://github.com/laminas/laminas-mail/blob/fe1ac4aa49b1971e4dac9e1bfc1c4d11e6aeba10/src/Storage/Imap.php#L201-L206

The fact that `Storage\Imap` also creates a protocol (shady - old way of doing things :-( ) is kinda secondary, I'd say:

https://github.com/laminas/laminas-mai

[2022-08-17 16:21] jbostoen commented on #205
Thanks for your time and detailed explanation!

So the best workaround is like the one in the comment I linked to earlier?

[2022-08-17 16:31] Ocramius commented on #205
I think the best workaround would be to operate on the protocol itself, before passing it to the storage: is that workable?

[2022-08-17 16:42] jbostoen commented on #205
Thanks for the advice, but for now it would be too complicated. Currently trying to make the replacement as much "drop in" as possible rather than revising the entire logic :)

[2022-08-17 17:08] Ocramius commented on #205
Two workarounds endorsed:

 1. using reflection (ugly, but will get you there, for now)
 2. extending the storage to make the transport available

The correct solution is having the transport upfront, but these should work.

Meanwhile, closing as "won't fix" here.

[2022-08-17 17:08] #205 closed, assigned to Ocramius

[2022-08-24 16:14] pramodraam opened #210 "PHP Fatal error: Cannot use ::class with dynamic class name in /home/magento/web/magento2.perfectmakeupmirrors.com/public_html/vendor/laminas/laminas-mail/src/Message.php on line 394"
When I ran the command php bin/magento s:s:d -f while upgrading Magento from 2.4.2 to 2.4.4, I get the following error.

PHP Fatal error:  Cannot use ::class with dynamic class name in /home/magento/web/magento2.perfectmakeupmirrors.com/public_html/vendor/laminas/laminas-mail/src/Message.php on line 394

Please help me fix this.

[2022-08-24 16:22] gsteel commented on #210
Some information about the version of PHP you are running and the version of `laminas/mail` that you have installed would be useful

[2022-08-24 16:23] Ocramius commented on #210
This project rewuires PHP 8.0 or 8.1 in order to work, starting from `2.17.0`:

https://github.com/laminas/laminas-mail/blob/bf7504247d5a110d941efa8eb4815f5292a8dc56/composer.json#L11

You probably ran `composer update` on a PHP version incompatible with your deployment environment.

Closing here.

[2022-08-24 16:23] #210 closed, assigned to Ocramius

[2022-08-24 16:35] pramodraam commented on #210
Thanks, Please let me know what you mean by "deployment environment" in
your comment.?

On Wed, Aug 24, 2022 at 9:53 PM Marco Pivetta ***@***.***>
wrote:

[2022-08-26 04:25] speller opened #211 "Broken Content-Type header value with a new-line"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.17.0

#### Summary

Broken Content-Type header value with a new-line

#### Current behavior

Header value is added to the mail with a new-line:

[code]

#### How to reproduce

Add the content-type header with encoding

#### Expected behavior

[code]

[2022-08-26 04:46] Xerkus commented on #211
This is not a bug and a valid folded header representation.

See:
https://www.rfc-editor.org/rfc/rfc822#section-3.1.1
https://www.rfc-editor.org/rfc/rfc2822#section-2.2.3
https://www.rfc-editor.org/rfc/rfc5322#section-2.2.3

It is not an invalid behavior but somewhat unexpected for such a short line.

[2022-08-26 07:30] speller commented on #211
OK, thank you for the clarification

[2022-08-26 07:30] #211 closed, assigned to nobody

[2022-10-31 22:55] icetee commented on #209
I think no valid your email address https://emailregex.com. The exception seems legitimate. Try filtering I think.

[2022-11-07 09:04] haiderpro opened #216 "No Sort Function / Option ?"
Hi,

I have searched many websites for assistance, tutorials or any hint but I couldn't find any sort example with LAMINAS-MAIL. Can you please provide an example if sort is already supported? If not, can you please add sort option as it is one of the important and basic part of IMAP.

Sort can also do searches and it can increase the speed and decrease the coding work :-)

Thanks for your help...

[2022-11-07 09:54] Ocramius commented on #216
I did a quick dive in the code, to see if IMAP folder abstractions sort of sorting functionality, but didn't find it 🤔

You may check https://github.com/laminas/laminas-mail/blob/3f009ed504085b71ae5eb5122120df83c461b3e0/src/Storage/Imap.php and perhaps contribute back a feature, if you want.

[2022-11-07 10:42] jbostoen commented on #146
Also came across an issue like this with a non-compliant email address in the header, eg

[code]

The idea would be to still be able to process this message; and ignore this invalid address.

I notice the laminas-validator does have some bypass options, but we need to be able to set them using laminas-mail.

[2022-11-30 11:41] RalfEggert commented on #197
I have no idea how to implement this but I will need OAuth SMTP Support für Laminas\Mail some day. So I just subscribed to see how its going.